[2017-06-13 15:47] aloneguid opened #1 "alltypes_plain.parquet: read ID column"
From alltypes_plain.parquet

- [x] read definition, repetition level and column values
- [x] merge data into one set

[2017-06-13 15:50] aloneguid opened #2 "Implement reader for plain encoding"
I've started a draft implementation in File.PEncoding.ReadPlain but that only works for Boolean/int32.

Encoding docs - https://github.com/Parquet/parquet-format/blob/master/Encodings.md#plain-plain--0

[2017-06-13 15:53] aloneguid opened #3 "Implement Delta Encoding (DELTA_BINARY_PACKED = 5)"
Encoding reference - https://github.com/apache/parquet-format/blob/master/Encodings.md#delta-encoding-delta_binary_packed--5

[2017-06-13 15:54] aloneguid opened #4 "NULL value handing in reader"
Not entirely sure how to read null values, it has something to do with definition/repetition levels in data page.

[2017-06-13 15:56] aloneguid opened #5 "Collect Phase 1 performance metrics"
Measure performance for files of various sizes (can be generated by Spark).

We can measure our library against parquet-java and fastparquet to have something to aim for.

[2017-06-13 15:58] aloneguid opened #6 "Collect Phase 2 performance metrics"

[2017-06-13 16:01] aloneguid opened #7 "Set up basic CI"
We can probably use ElastaCloud VSTS account (builds can be private) and expose a badge for readme.

The project should:
- [x] Build source code
- [x] Run tests

[2017-06-13 16:03] aloneguid opened #8 "GZIP support"
Support decoding/encoding data pages in GZIP

[2017-06-13 16:04] aloneguid opened #9 "SNAPPY support"
Support encoding/decoding in SNAPPY for data pages. Dependencies must be managed and .NET Core compatible.

[2017-06-14 10:33] aloneguid opened #10 "Reading parquet logical types"
Quite a few types are implemented on top of base types by metadata annotation (see https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md). We need to read those and covert to native .NET types.

[2017-06-14 20:29] aloneguid opened #11 "Choose project license"
https://choosealicense.com/

[2017-06-15 06:32] azurecoder opened #12 "Compiler error with Tuples"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS8137	Cannot define a class or member that utilizes tuples because the compiler required type 'System.Runtime.CompilerServices.TupleElementNamesAttribute' cannot be found. Are you missing a reference?	Parquet(net451), Parquet(netstandard1.6)	C:\Users\richa\Documents\Projects\parquet-dotnet\src\Parquet\File\Page.cs	84	Active

[2017-06-15 07:49] aloneguid commented on #12
Hi @azurecoder try to do nuget restore on the solution. System.ValueTuple comes as extra nuget package for C# 7.

[2017-06-15 09:06] azurecoder commented on #12
Ah, perfect, told you I was old school!

[2017-06-15 09:06] #12 closed

[2017-06-15 19:17] #1 closed

[2017-06-15 19:18] aloneguid commented on #2
Hi @azurecoder, I've integrated all the types, only FIXED_LEN_BYTE_ARRAY left to do. I can't find a sample encoded in this though.

[2017-06-15 19:20] aloneguid commented on #9
We might want to scrap this as there is no good SNAPPY library for .NET Core. Until better times. Spark can write files in gzip encoding if that's really required.

[2017-06-15 19:23] aloneguid opened #13 "Read alltypes_plain.parquet"
This is a test file in data folder, need to make sure library can handle it and make mods if necessary.

[2017-06-15 19:25] aloneguid opened #14 "Read strings"
Binary arrays with UTF-8 annotation, see https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md.

[2017-06-15 19:26] aloneguid opened #15 "Read date logical types"
See https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md

[2017-06-15 19:26] aloneguid opened #16 "Read JSON logical type"
See https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md

[2017-06-15 19:27] aloneguid opened #17 "Read BSON logical type"
See https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md

Initial thought is that this should be returned as byte array.

[2017-06-16 13:08] aloneguid opened #18 "Support nested structs"
Extending result type to include nested structures.

This requires extending `DataSet` to somehow support nested structures.

Reader needs to be extended appropriately.

[2017-06-16 13:11] aloneguid opened #19 "JSON.NET integration"
Comes as a separate package? Should support reading from a JSON document in a form that can be written to Parquet. Same for converting back from nested parquet to JSON.

[2017-06-16 15:30] aloneguid opened #20 "Async support"
There is a considerable amount of I/O therefore Async support will be beneficial on both ParquetReader and ParquetWriter.

BinaryWriter/BinaryReader don't support Async operations, therefore this might mean we need to implement primitive type unpacking ourselves.

[2017-06-16 15:31] aloneguid commented on #14
done

[2017-06-16 15:31] #14 closed

[2017-06-17 12:23] azurecoder commented on #15
updated int32 and int64 to support date and timestamp_millis encoding with ConvertedTypes enum

[2017-06-17 12:23] #15 closed

[2017-06-17 12:24] azurecoder commented on #9
let's keep open maybe we can inspire someone from EC to use some garage time to implement this

[2017-06-17 12:33] #11 closed

[2017-06-17 16:36] aloneguid commented on #9
There's this project https://github.com/jeffesp/Snappy.Sharp but it's still "work in progress" since 2012. If we want to implement this it might be an excellent starting point. It doesn't support .NET Core, but shouldn't be too hard to port.

Note, we need to only decompress/compress byte buffers, so snappy streaming is not required for reading, but would add to performance/memory footprint.

[2017-06-17 16:39] aloneguid commented on #4
Actually this is quite important as our reader will crash when handling null values, so moving to Phase 1.

[2017-06-19 07:24] aloneguid opened #21 "Properly fail when there are nested columns in a file"

[2017-06-19 07:58] aloneguid opened #22 "When opening a file validate that it's a Parquet format"

[2017-06-19 09:07] aloneguid opened #23 "Document and enforce coding style"

[2017-06-20 08:21] aloneguid commented on #13
all done!

[2017-06-20 08:21] #13 closed

[2017-06-20 08:21] aloneguid commented on #7
all done

[2017-06-20 08:22] aloneguid opened #24 "Prerelease CI"
- [x] Increment version
- [x] Push to nuget.org (set alpha in version number)

[2017-06-20 08:41] aloneguid opened #25 "Handle multiple dictionary/data pages in single column chunk"
Large files (UK postcode database) fails to read for this reason

[2017-06-20 08:44] aloneguid commented on #5
Not so important for M1, so moving to M2.

[2017-06-20 14:40] aloneguid commented on #4
@azurecoder we can store indexes for definition levels inside ParquetColumn, that way it's RAM efficient and can be transformed to nullable types when client iterates Values collection. What do you think?

[2017-06-21 09:43] aloneguid commented on #7
VSTS doesn't allow to view build details for external users, let's try AppVeyour?

[2017-06-21 17:05] aloneguid commented on #7
Moved to AppVeyor

[2017-06-21 17:05] #7 closed

[2017-06-21 18:23] aloneguid opened #30 "Utilise __isset"
__isset structure on Thrift actually says whether the value is present. I'm sure we have a few bugs around this, like using default value for enums instead of checking whether it's set.

[2017-06-21 18:25] aloneguid commented on #16
@azurecoder I think we should read this as string type. We can introduce dependency on json.net, however parsing a lot of small json objects may be expensive and there is no guarantee the client needs them parsed out.

[2017-06-21 19:26] aloneguid opened #31 "ADF custom activity?"
I guess integration with ADF would be interesting, that would allow to do something like data transformation from/to parquet.

[2017-06-22 19:02] azurecoder commented on #4
Completed but needs more and different testing to check integrity of output

[2017-06-22 19:02] #4 closed

[2017-06-23 12:15] aloneguid opened #33 "Writer for plain encoding"
Just like reader but reversed. Theres already interface IValuesWriter but I'm not sure how good it is.

[2017-06-23 12:15] aloneguid opened #34 "RLE/Bitpacking hybrid values writer"
Just like a reader but reversed.

[2017-06-23 12:16] aloneguid opened #35 "Plain dictionary encoding writer"

[2017-06-23 13:13] sandy-may commented on #9
I will have a look at Snappy.Sharp tonight or tomorrow, there is also a NuGet available https://www.nuget.org/packages/Snappy.NET/ will check them both out and see what I can implement

[2017-06-23 13:28] dazfuller commented on #9
There's an open pull request on the Snappy.Sharp project which you might find useful Sandy

[2017-06-23 13:46] sandy-may commented on #9
owww you are correct! Someone has already posted to Core and released as NuGet https://www.nuget.org/packages/Snappy.Sharp

[2017-06-24 13:16] aloneguid commented on #9
Hi guys, don't forget to raise a Pull Request, me & Richard already switched to this approach.

[2017-06-24 13:17] #25 closed

[2017-06-24 13:21] aloneguid opened #36 "Writer that can create a simplest file read by Spark"
This just involves hacking things together to create a simplest complete file with all appropriate schemas. Place. To gain a foothold in writer implementation.

[2017-06-24 13:22] aloneguid commented on #10
Issues created for each type.

[2017-06-24 13:22] #10 closed

[2017-06-24 16:10] aloneguid opened #37 "LINQ Provider"
An interesting approach would be to implement paging and filtering using LINQ provider, @azurecoder ?

[2017-06-25 12:38] azurecoder commented on #2
Hey @aloneguid looking at this today - will follow the spec for this

[2017-06-25 14:12] #22 closed

[2017-06-26 08:38] aloneguid opened #38 "Parquet integration testing"
Create a small base which allows to test parquet files against csv analog, to compare reader results with actual ones.

[2017-06-26 09:33] aloneguid opened #39 "Dates are not read correctly"
See alltypes_plain.parquet test file.

First value in last column is 2009-03-01T00:00:00.000Z, but read as was 02/03/2009 00:00:00.

[2017-06-26 09:56] aloneguid opened #40 "Invalid number of rows read"
alltypes_dictionary file is read as 8 rows, however it only has two

[2017-06-26 10:00] aloneguid opened #41 "Change DateTime to DateTimeOffset"
DateTimeOffset is more efficient and less ambiguous comparing to DateTime. For more information https://docs.microsoft.com/en-us/dotnet/standard/datetime/choosing-between-datetime

[2017-06-26 12:34] aloneguid opened #43 "Core types"
Store core types in parquet column, generate augmented types on request.

[2017-06-26 19:00] aloneguid commented on #24
@azurecoder do you have any preferences on what's the name of NuGet package? :)

[2017-06-27 07:55] aloneguid opened #44 "Reader - validate input stream is readable and seekable"
Throw exception if it isn't.

[2017-06-27 07:56] #40 closed

[2017-06-27 08:29] aloneguid opened #45 "Reader should not attempt to read definition levels if the column is REQUIRED"
At the moment it will fail, but we haven't seen that yet as all test files set column definition to OPTIONAL so definition levels are always encoded.

[2017-06-27 16:51] #24 closed

[2017-06-27 16:52] #38 closed

[2017-06-27 16:52] #36 closed

[2017-06-28 09:09] aloneguid opened #48 "Can't read a page of strings in plain encoding"
@azurecoder i'm not sure why we are trying to cast values to bool, must be a bug?

![image](https://user-images.githubusercontent.com/3155189/27629336-edba65be-5be9-11e7-886d-08e6c6d191aa.png)

[2017-06-28 09:12] azurecoder commented on #39
I think I fixed this and pushed no?

[2017-06-28 10:52] aloneguid commented on #39
that's right, let's close it :)

[2017-06-28 10:52] #39 closed

[2017-06-28 11:36] azurecoder commented on #48
gah! that's doomed! I can look at tonight when I'm back at the hotel

[2017-06-28 12:26] aloneguid commented on #48
@azurecoder I think I got it fixed by removing a cast, at least none of the tests are failing.

[2017-06-28 16:51] aloneguid opened #50 "Add "getting started" guide"

[2017-06-28 17:24] aloneguid opened #52 "Reader won't read column with definition levels"
If there are definition levels but encoding is not PLAIN_DICTIONARY, values won't be expanded properly and column will end up with less values than there are. The bug is in here:

[code]

The line ` if (parquetValues.UniqueValuesList == null)` should not exist but merge with definition levels when present.

[2017-06-28 20:34] #48 closed

[2017-06-28 20:37] #44 closed

[2017-06-28 21:31] aloneguid commented on #52
![image](https://user-images.githubusercontent.com/3155189/27661244-7a3b0ae0-5c51-11e7-9ceb-1b615f9ae513.png)

[2017-06-28 23:39] #52 closed

[2017-06-28 23:41] azurecoder opened #54 "Rowwise support needed in Parquet Dataframe"
Pivot needed to move between columns and rows in a single page

[2017-06-28 23:43] #45 closed

[2017-06-28 23:44] azurecoder opened #55 "Unable to read decimals with higher precisions than 18"
Spark uses fixed_len_byte_array to store Decimal(18+, n)

Metadata for scale and precision stored in parquet column header and Java uses BigEndian and completely different encoding than .NET four byte - needs combination of BigInteger, BigDecimal and DecimalType to repro

[2017-06-28 23:47] aloneguid opened #56 "Azure Data Lake Analytics data extractor"
More explanation - https://blogs.msdn.microsoft.com/data_otaku/2016/10/27/a-fixed-width-extractor-for-azure-data-lake-analytics/

[2017-06-28 23:50] #50 closed

[2017-06-28 23:54] aloneguid commented on #30
done in checking for UTF8

[2017-06-28 23:54] #30 closed

[2017-06-28 23:59] aloneguid opened #57 "Create writer to replicate alltypes.plain.parquet"
Implement whatever required to be able to write alltypes.plain.parquet file.

[2017-06-29 00:57] azurecoder commented on #55
completed and used proprietary BigDecimal class to capture scale and precision and conversion of BigEndian to LittleEndian

[2017-06-29 00:57] #55 closed

[2017-06-29 16:02] aloneguid commented on #57
I'm working on this one primarily

[2017-07-02 06:28] #16 closed

[2017-07-02 06:28] #41 closed

[2017-07-02 06:29] azurecoder commented on #54
Initial addition of object indexer on ParquetDataset - looking for two things:

1. Typed output of the dataframe
2. Paged output of the dataframe

[2017-07-02 18:25] azurecoder commented on #56
this has been moved to a separate project and repository

[2017-07-02 18:25] #56 closed

[2017-07-02 18:28] azurecoder commented on #19
@aloneguid was thinking that this should reside on the dataframe using a provider model? Maybe csv/json/xml to parquet?

[2017-07-03 07:24] aloneguid opened #61 "Proposal - work with plain (non-nullable) lists from IValuesReader"
Here is the problem.

When working with normal (non-nullable) columns the result gets returned as a list of nullable types. THis is OK but is a bit confusing as underlying type is not nullable. It also has performance impact on reading.

On the other hand, when type is nullable, IValuesReader first reads it in a nullable list, and then it gets reconstructed again taking into account definition lev

[2017-07-03 19:04] azurecoder commented on #61
Yeah, this was just a first stab so that we could captures NULLs, it really doesn't make sense to do this at all generally and is confusing for a consumer. The Require property is that indicative of null or not, can't remember?

[2017-07-03 19:26] azurecoder opened #62 "Formatted output in parq client"
A formatted output is needed in parq console application which will display the first n rows spaced to fit a console window in a console grid with the number of rows affected after the table output.

[2017-07-03 19:40] aloneguid opened #63 "What would you like Parquet DataSet to support?"
This is rather a placeholder for wishlist. I know we have some ideas on what we like it to have and how to behave. Like row access, handling large datasets, types transforms etc. Please comment below so we can collect those in one place. Thank you )

Related issues: #67

[2017-07-03 19:46] aloneguid commented on #61
@azurecoder yes it's a type of repetition level, if set to Required than definition levels are missing and no nulls allowed. I've noticed this is extremely inconvenient for writing, when creating dataset from scratch

[2017-07-03 21:25] azurecoder commented on #63
1. PagedDatasets collection lazy loaded
2. called ParquetDataFrame encapsulates files and page manifest offset
3. Contains typed row
4. Implements IEnunerable<ParquetRow>
5. Provider model supports From/ToCsv, From/To Json and From/To XML

[2017-07-04 06:49] AndyCross commented on #62
Feedback requested on initial formatted grid

![image](https://user-images.githubusercontent.com/773613/27818372-4d2e0bde-608d-11e7-9420-f19b997b434f.png)

[2017-07-04 07:25] aloneguid commented on #62
looks awesome, same as Jupyter would display it. I can only see a potential problem when column value doesn't fit in column width. Maybe a parameter to limit output columns by name? Can be another ticket.

[2017-07-04 07:39] AndyCross commented on #62
You can see in the timestamp_col that it truncates with an ellipse currently. I'm working on ways to supply options, for instance, what if you have a column called "A" - you'd only ever get 1 char out of it currently.

[2017-07-04 08:25] #62 closed

[2017-07-04 13:11] #57 closed

[2017-07-04 13:40] aloneguid commented on #33
closing this, basic types implemented as part of #57, i'll raise separate tickets per type

[2017-07-04 13:40] #33 closed

[2017-07-04 15:09] aloneguid commented on #63
I think we should migrate to row based results, as most workloads deal with rows.

@azurecoder I'm out of ideas how to deal with typed rows though. The only way to do static typing is to declare row type beforehand, sort of like deserialization into a class works, but that will require the client to know dataset types in advance.

IEnumerable/pages can be supported in reader, we know how to skip r

[2017-07-04 15:10] aloneguid opened #67 "Read N number of rows from a specific offset"
Very large files won't fit in RAM. Can be implemented by skipping rowgroups and certain rows on reader most effectively.

[2017-07-05 05:29] azurecoder commented on #61
Have updated and tested, approve PR if happy

[2017-07-05 05:34] #54 closed

[2017-07-05 05:36] azurecoder commented on #21
Going to generate a Spark output to test against this and write another integration test

[2017-07-05 05:49] AndyCross opened #69 "Parq: Handle wide Parquets of many columns"
When there are too many columns, Parq currently wraps onto new lines. This means you can copy/paste out of the console but it's not a nice experience in the shell.

[2017-07-05 05:51] AndyCross opened #70 "Parq: Sample data into pages at presentation tier"
Currently Parq writes out all data in the input file. This could be problematic for large files.

An option to paginate should be provided.

[2017-07-05 12:25] aloneguid opened #72 "Deploy with Chocolatey"
.net core app can be compiled into self containing app, however that still includes many files. Choco may be a good model for deploying this on Windows, see more at https://chocolatey.org/docs/create-packages

[2017-07-05 15:39] #61 closed

[2017-07-05 17:50] #43 closed

[2017-07-05 17:52] aloneguid opened #75 "INT96 - read as raw type"
`PlainValuesReader.cs`:

[code]

It might be better to always read it as `BigInteger`, and add a method on `Row` class to read alternatively as `DateTimeOffset`. What do you think @azurecoder ?

[2017-07-05 17:52] #2 closed

[2017-07-05 22:22] azurecoder commented on #75
Agreed, I don't like conditional compilation statements but I also know that we have to support Spark before the standard. My only observation is that Hive, Impala and Spark support Int96 in this way and they are the only practical use cases of parquet so in essence no-one would be using it for a BigInt. Happy to push this onto a row though and make lazier.

[2017-07-05 22:27] aloneguid commented on #75
I was thinking maybe adding it to this one

[code]
This way reader now can be forced to utf-8 decode bytearrays, even if they're not annotated, as this is the case with some files I've seen.

And maybe even making datetime default option, but giving users an option to switch it off?

[2017-07-05 22:31] azurecoder commented on #75
Seems reasonable. I saw that you added that as a private member in plainreader but didn't expose it.

[2017-07-05 22:40] aloneguid commented on #75
It's exposed in `ParquetWriter`, so after creating it you can set `writer.Options.MyOption = true;` etc :)

[2017-07-05 22:41] aloneguid commented on #75
Sorry both of them, reader and writer.

[2017-07-05 22:44] aloneguid commented on #5
//postcodes.plain.parquet - 137Mb
         //debug: 26 seconds.
         //release: 25 seconds.

[2017-07-05 22:44] #5 closed

[2017-07-05 22:49] aloneguid commented on #19
@azurecoder good idea. I'm already reading CSV into `DataSet` for testing i.e. to compare with parquet reader. We can make it in a form of extension methods to DataSet, like

`DataSet.FromCsv(stream, schema)`
`DataSet.ToCsv(stream)`

etc.?

[2017-07-05 22:52] aloneguid opened #77 "Writer - organise output into row groups and pages"
At the moment writer spits everything out in one large row group with single page. This should be changed to parquet recommendations:

- row group of 5000 rows max
- pages of not more than 8Kb

[2017-07-05 22:55] aloneguid opened #78 "DataSet - calculate column stats"
Adding rows to dataset can automatically calculate statistics i.e. min/max value, number of unique values, number of nulls etc.

Having this will make it possible to choose the most suitable encoding when writing to parquet.

[2017-07-05 22:55] #23 closed

[2017-07-05 22:57] aloneguid opened #79 "Writer - support nullable columns"
Only non-nullable columns supported in writer at the moment. This depends on implementing writer for RLE/Bitpacking encoding to write definition levels #34

[2017-07-06 08:09] aloneguid opened #80 "Writer - append to file"
Appending can be done by stripping out file footer, adding a new Row Group and rewriting the footer back. Useful for batch scenarios with limited amount of RAM.

[2017-07-07 07:44] #69 closed

[2017-07-07 07:44] #70 closed

[2017-07-07 08:03] aloneguid opened #81 "Writer - support dates in plain encoding"
I've tried writing dates in INT32, but that only supports (year, day, month) precision which is not enough in most cases. Got to dive into INT64 (no milliseconds part)

[2017-07-07 22:00] aloneguid opened #83 "Writer produces unreadable files when writing DateTimeOffset"
I think it doesn't annotate it properly. As a part of this create integration test which writes one type and one value and reads it in full, going through the whole lifecycle. Unit tests for this succeed btw.

[2017-07-07 22:01] #81 closed

[2017-07-08 07:56] azurecoder commented on #83
picking this up today

[2017-07-08 09:10] aloneguid commented on #83
@azurecoder great thanks )

[2017-07-08 09:20] aloneguid opened #84 "Read CSV into DataSet"
Thinking that because CVS seems to be really popular in data science we could do this. The refeerneced library NetBox already has a good battle tested CSV reader but that only reads strings.

It might be a good idea to also add type inferring, needs more thought.

Might depend on #78

[2017-07-08 19:18] sandy-may commented on #8
@aloneguid just push to a new branch for compression have a look if you get time, it's all really simple a few line but can't work out what happening

[2017-07-08 19:20] sandy-may commented on #84
@aloneguid I think I did something very similar last week but to DataTable, it had schema inference, will show you Monday and can pick this up

[2017-07-09 10:33] azurecoder commented on #83
investigating now - made all the alterations to ensure that we write EXACTLY the same way as we read but Spark uses an INT96 first 8 bytes nanos, last 4 date in Julian time. I have a small issue now:

TIMESTAMP_MILLIS can only annotate INT64

So I think there is something missing as well - doing all of the necessary checks - currently we don't support the INT64 timestamp millis because Spark won't

[2017-07-09 10:40] azurecoder commented on #83
Okay, my mistake, schema shows INT96 type annotating UTF8 only issue is that it's not really an INT96 - this is how we interpret it but Spark writes it out as a binary type but of a fixed 12 byte len.

UTF8 can only annotate binary fields

Yuck. We have to support this but I will raise another 2 issues to support INT64 TIMESTAMP_MILLIS and also the INTERVAL type which Spark will support from 2.2.

[2017-07-09 10:41] aloneguid commented on #83
@azurecoder yes the parquet specs says:

[code]

At the moment DateTimeOffset maps to INT64 only because it's easy to implement, but it cuts off milliseconds. This is not perfect but fine for current client ;) Ideally when we write DateTimeOffset that should map to INT96. The reader though has to be able to read anything and map back to DateTimeOffset. That is my understanding at the moment.

[2017-07-09 10:41] azurecoder opened #85 "Support INT64 reads of TIMESTAMP_MILLIS"
This is new for Spark 2.2 but is the "true" parquet representation of TIMESTAMP_MILLIS

[2017-07-09 10:42] azurecoder opened #86 "Support INT64 writes of TIMESTAMP_MILLIS"
This is new for Spark 2.2 but is the "true" parquet representation of TIMESTAMP_MILLIS

[2017-07-09 10:42] azurecoder opened #87 "Support reading of INTERVAL types"

[2017-07-09 10:43] azurecoder opened #88 "Support writing of INTERVAL types"

[2017-07-09 10:47] azurecoder commented on #83
Agreed. They have changed the code in Spark 2.2 but represent this correctly.

[code]
but the last item currently is treated as a TIMESTAMP_MILLI rather than an interval. I will update this and fix this current issue but agreed all of the existing variations and future need to be supported. I have raised issues for them now.

[2017-07-09 10:48] aloneguid commented on #86
I think implementing this first would solve DateTimeOffset write problem immediately in a short term, so we can use it in production.

[2017-07-09 11:26] aloneguid commented on #9
I looked more into this and it looks like Snappy.Sharp is unstable at the moment. Issues open on GitHub indicate that it doesn't decompress properly is some cases.

[2017-07-09 14:40] AndyCross opened #89 "PARQ: Support full summarised output"
In a deep exploration of a Parquet file on Windows, we might want to pipe the whole file output (or in future a skip/take sample of the file). In such a case, the interactive view is not optimal.

Note: this issue doesn't cover the display of complete cell contents, which will still be limited by DisplayMinWidth

[2017-07-09 14:56] AndyCross opened #91 "PARQ: Schema only view mode"
PARQ currently outputs the schema then clears the screen to draw data row-wise. There should be a mode that simply outputs the schema.

[2017-07-09 18:44] aloneguid opened #92 "Support .net standard 1.4"
This is a showstopper for using from UWP which sopports up to 1.4. we are only requiring 1.6 because official thrift lib needs it, buy it seems like this can be downgraded https://github.com/gboucher90/thrift-netcore/issues/1#issuecomment-313937612

[2017-07-10 10:50] aloneguid opened #95 "UTF-8 strings with non-ascii characters are not written properly."
Writer will produce rubbish whenever there is a non-ascii character taking more than 1 byte in size.

[2017-07-10 11:22] aloneguid commented on #84
We already have the code to read into DataSet, it's in tests so needs to be just moved :) How does type inferring work in your case?

[2017-07-10 12:09] aloneguid commented on #8
@sandy-may this is working now end-to-end, in master branch ;)

[2017-07-10 12:09] #8 closed

[2017-07-10 15:53] #95 closed

[2017-07-11 09:21] azurecoder commented on #83
Closing as complete now. Supporting other date formats in other issues.

[2017-07-11 09:21] #83 closed

[2017-07-11 12:13] aloneguid opened #100 "Cannot read PLAIN_DICTIONARY encoding from spark 2.2 generated files"
Our sample file was generated by old version of spark and is 1 byte larger than spark 2.2 generates, therefore the reader fails by not finding any values, needs more investigation.

![image](https://user-images.githubusercontent.com/3155189/28067817-c58f531e-663a-11e7-9058-4754c3d2f4e3.png)

[2017-07-11 15:10] aloneguid opened #102 "DataSet SchemaElement validation for types"
When type passed is nullable throw an exception and explain that they can contain null values, but need to be declared as non-nullable.

[2017-07-11 16:45] #9 closed

[2017-07-11 16:45] #79 closed

[2017-07-11 16:46] aloneguid commented on #34
Implemented just enough to write nullable columns.

[2017-07-11 16:46] #34 closed

[2017-07-11 16:50] aloneguid commented on #63
created separate issues for this

[2017-07-11 16:50] #63 closed

[2017-07-11 16:56] aloneguid opened #103 "Add all integral types to plain writer"
float, double, etc. Doing it now.

[2017-07-11 19:06] #103 closed

[2017-07-12 05:16] #92 closed

[2017-07-12 06:35] azurecoder commented on #86
Changed the implementation of this to enable support for INT64 seconds from epoch, writer updated

[2017-07-12 06:35] #86 closed

[2017-07-12 09:19] aloneguid opened #106 "Allow specifying date precision in schema"
potentially might be fixed in PR #112

[2017-07-12 13:26] #102 closed

[2017-07-12 13:26] #100 closed

[2017-07-12 19:15] aloneguid opened #108 "Unit test failing on Ubuntu 16.04"
They run perfectly fine on Windows though, `dotnet test` output:

[code]

[2017-07-12 19:16] aloneguid opened #109 "running parq without parameters doesn't display anything"
![image](https://user-images.githubusercontent.com/3155189/28135693-09a704f2-673f-11e7-8f87-344546c15df4.png)

[2017-07-12 19:26] aloneguid opened #110 "CI on Linux"
Create continuous integration for Linux builds.

https://docs.travis-ci.com/user/getting-started/

[2017-07-12 19:43] #31 closed

[2017-07-12 21:09] we7313 opened #111 "Issues using written parquet file with AWS Athena"
Should this tool be capable of creating a parquet file that AWS athena would be able to map a table to?
I created a simple file with just 2 columns and (id, city) and receive the following error when querying from athena:HIVE_CURSOR_ERROR: can not read class parquet.format.PageHeader: null

[2017-07-12 21:26] aloneguid commented on #111
@we7313 we are still in alpha therefore bugs are expected :) Could you please give us details which version of parquet-dotnet you are using and code you're using to generate the file?

[2017-07-12 22:59] aloneguid commented on #84
I already have type inferring code, it's a part of NetBox package

[2017-07-13 11:31] aloneguid commented on #85
I believe this is done what what I can see according to the code?

[2017-07-13 11:33] aloneguid commented on #88
@azurecoder This can be mapped to `System.TimeStamp` I believe?

[2017-07-13 11:50] aloneguid opened #113 "Written and read dates differ by one day"
I've introduced failing tests which prove this is the case. I'm not sure which is the source of truth though - reader or writer :)

[2017-07-13 14:03] we7313 commented on #111
Thanks for getting back to me, I'm cool with this being an alpha - it has great potential.
This is the code I used to create the parquet file:

 var ds = new Parquet.Data.DataSet(
                new SchemaElement<int>("id"),
                new SchemaElement<string>("city")
            );

            ds.Add(1, "London");
            ds.Add(2, "Derby");

            using (Stream fileStream = Fil

[2017-07-13 15:11] sandy-may commented on #84
@aloneguid is this done then?

[2017-07-13 15:44] aloneguid commented on #84
@sandy-may not yet, it's in a branch if you want to have a look.

[2017-07-13 18:07] aloneguid commented on #111
You're welcome @we7313, it's the people like you who make parquet-dotnet better! :)

here is what I've done so far, generate parquet file with parquet-dotnet:

[code]

and uploaded to S3 bucket. I validate that it can be read with java library to see we are not doing anything unusual and it's fine:

![image](https://user-images.githubusercontent.com/3155189/28176017-d15b0422-67ed-11e7-82a1-585c82e

[2017-07-13 18:19] AndyCross commented on #91
Fixed :D

[2017-07-13 18:19] #91 closed

[2017-07-13 18:19] AndyCross commented on #89
Fixed! 🥇

[2017-07-13 18:19] #89 closed

[2017-07-13 19:22] #109 closed

[2017-07-13 20:48] azurecoder commented on #113
what's the name of the test?

[2017-07-13 20:55] aloneguid commented on #113
@azurecoder it in my PR https://github.com/elastacloud/parquet-dotnet/pull/112. If you want to fix it in that branch that's fine too )

[2017-07-13 20:59] azurecoder commented on #113
okay, I'll work from that

[2017-07-14 08:00] aloneguid commented on #113
@azurecoder that's definitely a writer, the day is off by one after I write with our lib and read with Parquet:

![image](https://user-images.githubusercontent.com/3155189/28203750-e8648f78-6872-11e7-9f08-0451d3635d25.png)

[2017-07-14 09:04] aloneguid commented on #111
OK I've got the same error as you do now, by creating a table with this script:

[code]

Investigating :)

[2017-07-14 13:34] aloneguid opened #115 "Failing to compress or decompress with snappy"
Fails on this test scenario:

[code]

error:
![image](https://user-images.githubusercontent.com/3155189/28214297-98321d7a-68a1-11e7-8ef6-243589b85493.png)

[2017-07-14 15:05] we7313 commented on #111
Great!  Sorry I couldn't get back to you yesterday (I had one of those days).
BTW, what was the issue with Athena not being able to access the S3 bucket?

[2017-07-14 18:42] #113 closed

[2017-07-14 20:27] sandy-may commented on #115
@aloneguid the issue is the here ``` _snappyCompressor.MaxCompressedLength(uncompressedLength);```

its creates trailing null bytes that cause the length and subsequent decoding to go off. Just got working locally will validate with spark and commit

[2017-07-14 21:21] #115 closed

[2017-07-14 22:21] #106 closed

[2017-07-15 07:53] #85 closed

[2017-07-15 08:16] azurecoder commented on #87
Spark hasn't implemented this yet. We will have to decide on the offset because the spec doesn't define it. To be consistent I will go with the Julian calendar.

INTERVAL is used for an interval of time. It must annotate a fixed_len_byte_array of length 12. This array stores three little-endian unsigned integers that represent durations at different granularities of time. The first stores a number

[2017-07-15 08:23] azurecoder commented on #87
Actually my mistake, this just needs a new custom type, because of the lack of conversion between the independent date units we can't even use Timespan so I will keep in it's original form

[2017-07-15 12:15] aloneguid commented on #111
@we7314 no worries :) I'm still investigating this.

The issue with bucket security is slightly unobvious - Athena gives 401 when you specify bucket URL in a form of region i.e. `s3://us-west-2.amazonaws.com/pqtest1/athena/` and shortening it to `s3://pqtest1/athena/` does the trick.

I'm not quite sure how to fix this yet, however I have a working file and almost identical file which causes this

[2017-07-15 12:37] aloneguid opened #118 "Move parq documentation from readme.md to a separate page"
It's just a suggestion so feel free to disagree :) I think the front page should be short and trying to sell the library in the shortest period of time.

[2017-07-15 18:19] #75 closed

[2017-07-15 19:21] #87 closed

[2017-07-15 19:21] #88 closed

[2017-07-18 05:59] AndyCross opened #121 "Parq fuller (towards summarised) outputs"
Parq currently limits "cell" contents by either:

* Header width (default) or
* DisplayMinWidth

The first is particularly useful with descriptive column headers with short content. The second with regular width columns (all similar width). If the dataset has a column "weatherTextDescription" and "isSunny" with values ("Tuesday was a sunny day with scattered showers", "True") then neither of these

[2017-07-18 12:31] AndyCross opened #123 "Parq - given a very large column, this will cause wrapping in interactive view"
Generate a dataset with > screen width in size, then the column will go very wonky.

[2017-07-18 17:02] AndyCross opened #124 "Parq - Optionally display a null identifier"
The NULL and the string.Empty constant are different things but currently don't have a clear differentiator in parq.

[2017-07-19 05:01] #124 closed

[2017-07-19 06:57] #121 closed

[2017-07-19 06:57] #118 closed

[2017-07-19 07:14] AndyCross opened #126 "Missing Expanded AppSetting for parq after merge/squash"
Build is currently breaking.

[2017-07-19 09:22] #126 closed

[2017-07-19 12:29] AndyCross commented on #123
Here's a reproduction with a 1000 char column

![image](https://user-images.githubusercontent.com/773613/28366803-3747e1be-6c86-11e7-8f7f-7c57f6255a93.png)

[test.zip](https://github.com/elastacloud/parquet-dotnet/files/1159073/test.zip)

[2017-07-20 05:00] #123 closed

[2017-07-21 06:05] azurecoder opened #130 "Open in Excel"
Might not be possible but build an extension of some kind so that Excel can read in parquet

[2017-07-21 08:01] #21 closed

[2017-07-22 12:07] #72 closed

[2017-07-22 14:41] azurecoder opened #133 "Measure performance for writing different parquet types"
Currently all columns use plain encoding to write parquet out but there are performance hits on certain types, CPU measures and times need to be recorded for each column write.
@aloneguid to put a richer description of needs here

[2017-07-22 14:43] azurecoder opened #134 "Make column summary statistics optional"
Currently calculated for each column but requires multiple column searches which can be expensive on larger files. Make this is a parquet option.

[2017-07-22 15:01] xhochy commented on #133
In Parquet-cpp development I saw a clear advantage of dictionary encoding. It was not much more CPU time but the compression rates on most data did speed up things a lot as it reduced I/O significantly.

[2017-07-22 20:36] azurecoder commented on #134
Currently writing a higher level library for consumers that want to read and surface dataframes called parquet-util pushing #78 in that and will integrate into parq with @AndyCross to give DF summaries

[2017-07-23 08:15] xhochy commented on #133
You might also take a look at my blog post https://tech.blue-yonder.com/efficient-dataframe-storage-with-apache-parquet/ where I did some comparisons of the compression algorithms of Parquet, note that they are all based on dictionary encoded columns, plain encoded columns always were larger and only in the case of uncompressed files were they faster to read/write.

[2017-07-23 08:23] azurecoder commented on #133
Thanks @xhochy this is really useful so you would suggest dictionary or run-length encoding for high incidence of repetitions?

[2017-07-24 06:47] AndyCross opened #136 "Support reading the Creator of the file"
In order to make Parq feature consistent with parquet-tools we need to support the _meta_ command which outputs some metadata that is currently not surfaces:

**File.Creator**

![image](https://user-images.githubusercontent.com/773613/28511245-4e4a1cee-7044-11e7-9f01-149c34bb0ef5.png)

[2017-07-24 06:51] AndyCross commented on #136
I think this is given to use in: Thrift.FileMetaData.Created_by but this is not exposed

https://github.com/elastacloud/parquet-dotnet/blob/master/src/Parquet/Data/Schema.cs#L24

[2017-07-24 06:54] AndyCross opened #137 "Support parquet-tools rowcount"
A simple feature that returns solely the rowcount of a parquet file

![image](https://user-images.githubusercontent.com/773613/28511490-59ad9524-7045-11e7-9334-d50269a0bb3a.png)

[2017-07-24 07:00] AndyCross opened #138 "Bug in latest Parquet-dotnet reading date_string in alltypes_dicitonary.plain.parquet"
C:\src\parquet-dotnet\src\parq\bin\Debug\netcoreapp1.1>dotnet parq.dll interactive InputFilePath=C:\src\parquet-dotnet\src\Parquet.Test\data\alltypes_dictionary.plain.parquet
Input file chosen as C:\src\parquet-dotnet\src\Parquet.Test\data\alltypes_dictionary.plain.parquet

Unhandled Exception: Parquet.ParquetException: fatal error reading column 'date_string_col' ---> System.ArgumentException: Th

[2017-07-24 16:27] AndyCross commented on #67
A few use cases for this, and I'd like supported by the core lib:

* Head n
  * To be feature compatible with parquet-tools
* Tail n
  * To be feature compatible with parquet-tools
* Pagination at the file level
  * Parq currently creates "folds" after reading the whole file into memory, I would like to be able to request specific ranges , which this should support.
  * I don't need the reader to

[2017-07-24 20:27] xhochy commented on #133
Yes, I would suggest that. In `parquet-cpp` (and the same is possibly also true for `parquet-mr`), we use dictionary encoding (which also then applies hybrid-bitpacking-runlength-enconding on the indices) by default and only revert back to plain encoding if the dictionary gets larger than a certain threshold of values.

[2017-07-25 11:34] aloneguid opened #140 "Generate single assembly for .NET 4.5"
We have a problem with U-SQL projects requiring to list every dependency of parquet assembly. Try IL-Merging them. Maybe this issue should live in U-SQL repo actually.

[2017-07-25 12:07] AndyCross commented on #140
Yeah, wrong repo - get it in the usql one!

________________________________
From: Ivan Gavryliuk <notifications@github.com>
Sent: 25 July 2017 12:34:34
To: elastacloud/parquet-dotnet
Cc: Subscribed
Subject: [elastacloud/parquet-dotnet] Generate single assembly for .NET 4.5 (#140)

We have a problem with U-SQL projects requiring to list every dependency of parquet assembly. Try IL-Merging them. Ma

[2017-07-25 12:37] #140 closed

[2017-07-25 14:24] aloneguid commented on #137
You mean without reading the file? Because DataSet has `.Count` property

[2017-07-25 14:26] aloneguid commented on #136
We populate `creator` according to specs when writing files but yeah, it's not exposed anywhere. This can be done as a **read-only** property on DataSet. If anyone grabs this before myself - don't expose it for writing as it must be filled in according to specs.

[2017-07-25 14:28] aloneguid commented on #84
Working on this, still not close to finishing, there are some variations to be covered so it won't make into M2.

[2017-07-25 14:30] aloneguid commented on #130
It's hard if possible at all to make excel read custom file formats.

We can probably have a toolbar button which opens a dialog to read the file and puts content into current worksheet, if that's acceptable.

However, in general writing Office extensions is hard, and really hard when you want to support multiple versions of Office.

[2017-07-25 14:31] aloneguid opened #141 "Dictionary encoding in writer"
Needs further discussion whoever decides to do it.

[2017-07-25 14:33] aloneguid commented on #67
At the moment we can easily support this by passing options to reader. Ideally this should be solved by writing a LINQ provider (then you can use native C# queries) but that's a lot of work. Options will solve the problem and can be used in LINQ. On it.

[2017-07-25 16:51] AndyCross commented on #137
This is completed work.

It meant in parq specifically.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ivan Gavryliuk <notifications@github.com>
Sent: Tuesday, July 25, 2017 3:24:26 PM
To: elastacloud/parquet-dotnet
Cc: Andy Cross; Assign
Subject: Re: [elastacloud/parquet-dotnet] Support parquet-tools rowcount (#137)

You mean without reading the file? Beca

[2017-07-26 05:19] #67 closed

[2017-07-26 07:15] AndyCross opened #143 "Implement Paging in Parq Interactive"
Since #142 we can read pages of files. Parq currently simulates this with folds, but this necessitates the reading of a whole file, which can be a resource problem.

Instead, we should use the built in support for reading ranges of files.

[2017-07-26 07:16] AndyCross opened #144 "Implement Head and Tail Parq features"
Since #142 we can now implement a feature to retrieve the top n or bottom n rows of a dataset. Use this feature to be feature compliant with parquet-tools

[2017-07-26 08:54] aloneguid opened #145 "Failing tests for dates reappeared"
![image](https://user-images.githubusercontent.com/3155189/28612841-6c2e3434-71e8-11e7-974d-214c6d88cec2.png)

[2017-07-26 10:23] #77 closed

[2017-07-26 10:43] #145 closed

[2017-07-26 13:58] aloneguid commented on #141
At the moment just implementing dictionary encoder, not applying to the writer, to see how this works.

[2017-07-27 06:13] AndyCross opened #148 "Inconsistent integer length between Data TotalRowCount and ReaderOptions Count/Offset"
parquet-dotnet will return a TotalRowCount in the INT64 range. The reader options for offset and count are both INT32.

This means (for a very long file) the options aren't unable to reach the end of the file, over INT32.MaxValue.

[2017-07-27 07:58] aloneguid commented on #148
I hear you. It's rather the other way around, all counters should be `int` not `long`. .NET collections can't hold more than `int.MaxValue` elements.

[2017-07-27 08:13] AndyCross commented on #148
Interesting; so what happens in the case of those very long files?

[2017-07-27 08:33] AndyCross opened #150 "Support parquet-tools inspired information on meta"
[code]

[2017-07-27 08:33] AndyCross commented on #150
@aloneguid  @azurecoder  how much of the above row group information is exposed all the way up to the consumer?

[2017-07-27 09:06] aloneguid commented on #150
@AndyCross it's not exposed at all as if we go that route that will need opening up thrift internals publicly so we'll lose nice abstractions. It will be hard to maintain compatibility if we decide to change thrift dependencies etc.

[2017-07-27 09:18] aloneguid commented on #148
That got me thinking that it's not going to work. I think the better solution would be to still have `long TotalRowCount` and `int RowCount` which essentially means that users can't read more than `int` at a time. It's a good thing because amount of RAM with rows of `int` count is large anyway.

On the other hand, `offset` and `count` must be `long` so you can still specify where to read from.

Yo

[2017-07-27 10:07] AndyCross commented on #150
Could we look into something for M4+ that allow me to report as per parquet-tools? I am striving for a compliance between parquet-tools and parquet-dotnet via parq and there's no pressing need for this beyond that.

[2017-07-27 10:14] aloneguid commented on #150
@AndyCross sure, we can look at this in future ;)

[2017-07-27 10:15] #136 closed

[2017-07-27 10:16] aloneguid commented on #37
some work on this started in a branch

[2017-07-27 10:26] aloneguid opened #152 "Release v1"
- branch off v1 (keep master as current dev)
- change versioning in v1 branch to 1.0.0.build_number
- change versioning in master branch to 1.0.1-alpha-build_number
- appveryor.yml must be present in both branches

[2017-07-27 13:24] aloneguid opened #153 "Populate encodings list in Thrift.ColumnChunk"
This doesn't have any effect from what I've seen, docs say this is used for validation against the list whether column can be decoded later, therefore:

- [ ] Populate the list of encodings used when writing parquet.
- [ ] Introduce validation before reading column chunk that the list of encodings specified are actually the ones we do support, otherwise don't continue reading.

[2017-07-28 05:56] #143 closed

[2017-07-28 07:29] #137 closed

[2017-07-28 07:39] AndyCross opened #156 "Correct Chocolatey Moderation details"
[code]

[2017-07-28 07:57] aloneguid opened #157 "Split Parquet-Utils into separate github repo"

[2017-07-28 07:57] aloneguid opened #158 "Split Parq into separate github repo"

[2017-07-28 08:06] #144 closed

[2017-07-28 08:41] AndyCross commented on #156
Watch #158 which when complete will change the Verification story as we can use releases of Parq. Currently cannot as the releases should be about parquet-dotnet

[2017-07-28 08:45] AndyCross commented on #156
Submitted a new package for feedback here: https://chocolatey.org/packages/parq/1.0.1.0

[2017-07-28 08:50] aloneguid commented on #111
@we7313 I've got another error this time, but getting closer :)

![image](https://user-images.githubusercontent.com/3155189/28709947-32d5f7a6-737a-11e7-8b96-2afb77efe6b2.png)

[2017-07-28 09:40] aloneguid commented on #111
Still have no idea why Athena doesn't read files, I've raised support issue in AWS forums https://forums.aws.amazon.com/thread.jspa?threadID=260598 and also trying to get this fiddled with myself in the meantime.

[2017-07-29 09:15] AndyCross commented on #156
Further feedback:

[code]

[2017-07-29 09:41] AndyCross commented on #158
Todo:

- [ ] Move docs and adjust root README to new docs location
- [ ] Move Scripts
- [ ] Move Src/Parq

From a parquet-dotnet perspective this is then done. I will track required changes in Parq repo for the landing of the src and changes required there.

[2017-07-29 14:30] #158 closed

[2017-07-30 18:36] #157 closed

[2017-07-30 19:19] #35 closed

[2017-07-30 19:19] #78 closed

[2017-07-30 19:21] aloneguid commented on #3
Hi @sandy-may are you still keen to work on this one?

[2017-07-30 19:22] #141 closed

[2017-07-30 19:22] aloneguid commented on #6
Will open more generic issue for this

[2017-07-30 19:22] #6 closed

[2017-07-30 19:23] aloneguid commented on #17
This may already return as byte array, but we need a sample to test it.

[2017-07-30 19:25] aloneguid commented on #19
I think this is outside of this library's scope.

[2017-07-30 19:25] #19 closed

[2017-07-30 19:26] aloneguid commented on #108
Should be done as part of #110

[2017-07-30 19:26] #108 closed

[2017-07-31 07:24] AndyCross commented on #156
Closed as moved to Parq.

[2017-07-31 07:24] #156 closed

[2017-07-31 07:59] sandy-may commented on #3
@aloneguid I'll unassigned for now so not blocking, but would be good to pair on if you haven't done when I next down

[2017-07-31 09:59] aloneguid opened #162 "Input stream seekable requirement"
"input stream must be seekable" requirement can be removed by maintatining a small in-memory window. This affects both reader and writer.

[2017-07-31 10:04] #152 closed

[2017-07-31 10:05] #134 closed

[2017-07-31 10:07] aloneguid commented on #3
@sandy-may cool, let me know when you're ready, i'll keep it reserved ;)

[2017-07-31 14:57] we7313 commented on #111
Thanks for working on this.  This could be a great utility on AWS.

[2017-08-02 05:32] aloneguid commented on #162
Unfortunately for reading we can't stream because file metadata is at the end of the file (

[2017-08-02 09:19] aloneguid opened #164 "Byte counters in metadata"
Writer does not properly stamp byte counter in headers of column chunk, page header and row groups. This needs to be fixed according to specification.

[2017-08-02 09:48] #162 closed

[2017-08-02 09:50] aloneguid opened #165 "DataSet.Show"
Replicate DataSet.Show which can return a string representation of the dataset as table. Same way as Spark does.

It's better to use built-in ToString overload, already using it for schema classes.

[2017-08-02 09:53] aloneguid opened #166 "Writer - remove requirement for seekable stream"
Although reader must be seekable, writer doesn't suffer from that. However, some changes need to be made as there are a few .Seek calls we use.

This allows to use minimum amount of ram when writing extra large files.

[2017-08-02 10:25] aloneguid commented on #138
@AndyCross it's a bug indeed, fixed now (see PR). One thing to note here - `alltypes_dicitonary.plain.parquet` specifically encodes strings as byte arrays (doesn't have proper annotations). You can force parquet.net to read them out as strings by passing `ParquetOptions` object to the reader and setting `TreatByteArrayAsString = true;`.

[2017-08-02 18:57] aloneguid opened #168 "Schema.show"
Replicate this from Spark, should allow to print schema in string

[2017-08-02 22:30] #164 closed

[2017-08-02 22:30] #80 closed

[2017-08-02 22:30] #168 closed

[2017-08-02 22:30] #138 closed

[2017-08-02 22:40] aloneguid opened #170 "Drop alpha versions from nuget"
alpha build should potentially drop all previous alpha versions except for N last ones before publishing.

[2017-08-02 23:06] aloneguid opened #171 "Create comparison chart Parquet.Net vs parquet-mr vs fastparquet vs parquet-cpp"
Compare read and write speed on different file sizes.

Adding more thoughts here. Every framework can be a console util callable from command line.

Input: `mode` `filename`
where mode is `read` or `write`. With write it would make sense to have an extra parameter specifying a number of rows to write. Apparently all utils should use the same schema and data to achieve fair estimations.

Output: `t

[2017-08-03 07:59] xhochy commented on #171
Please also include parquet-cpp/pyarrow as this is probably the fastest implementation at the moment for a lot of cases, see also http://wesmckinney.com/blog/python-parquet-update/

[2017-08-03 10:29] azurecoder commented on #130
Closed, moved to new repo by @AndyCross /elastacloud/parquet-excel

[2017-08-03 10:29] #130 closed

[2017-08-03 10:37] aloneguid commented on #133
will be part of #171

[2017-08-03 10:37] #133 closed

[2017-08-03 12:28] #148 closed

[2017-08-03 17:27] azurecoder commented on #171
Thanks @aloneguid @xhochy we're very interested in Arrow so this is a good opportunity to get hands on. We'll publish our comparison hopefully at some point next week.

[2017-08-04 12:57] #84 closed

[2017-08-04 14:31] aloneguid commented on #111
@we7313  Just letting you know we didn't forget and working on this. I've managed to generate a file with parquet.net similar to a working one with 3 bytes difference. Down from 200 :) It's close...

[2017-08-04 14:54] aloneguid commented on #111
@we7313 I've got a working solution, should be in alpha release in a few days

![image](https://user-images.githubusercontent.com/3155189/28974102-1e3fad7e-792d-11e7-8de3-4c704fcfb375.png)

[2017-08-04 15:07] aloneguid commented on #20
Thrift libs also don't support Async operations. Closing as this might be too much work.

[2017-08-05 09:30] #170 closed

[2017-08-05 14:59] AndyCross opened #176 "Count, RowCount and TotalRowCount don't agree"
When using CsvFormat.ReadToDataSet from an input file with 7 rows, TotalRowCount is set to 0:

![image](https://user-images.githubusercontent.com/773613/28996372-136984e0-79f7-11e7-8da9-b4b985c6a9c5.png)

[2017-08-07 10:04] aloneguid opened #177 "Add statistics to column chunk and page header"
Both support embedding following stats:
- Min
- Max
- Null Count
- Distinct Count

Not essential, but useful to have as those help choosing the best encoding for writing for example. Also can skip calculating on the whole dataset.

[2017-08-07 13:10] #176 closed

[2017-08-07 14:49] we7313 commented on #111
Excellent work!

[2017-08-07 16:48] aloneguid commented on #110
until better times

[2017-08-07 16:48] #110 closed

[2017-08-07 20:35] aloneguid commented on #111
@we7313 this is I'm the latest alpha now. Feel free to reopen if something is wrong. We have tested to an extent that Athena likes us.

[2017-08-07 20:35] #111 closed

[2017-08-08 11:39] aloneguid opened #180 "Add JSON adapter"
Same way as `CSV` is implemented we can support `JSON` as an input and output format.

[2017-08-08 11:40] aloneguid opened #181 "Write out in CSV"
`CsvFormat` supports reading `CSV` into `DataSet`, writing back should be easier to impellent and  useful.

[2017-08-08 12:23] AndyCross commented on #181
Parq supports this; why are you putting this in the core lib? To me this is a concern of consumers, otherwise you'll have to do the same with every other format that you think is useful; xml, json, tsql. ... bloat

If you look at the parq implementation, you'll see there is nothing special about it that would be better internal to the library. https://github.com/elastacloud/parq/blob/master/src/pa

[2017-08-08 12:25] aloneguid commented on #181
@AndyCross you're right it's not a right place for it. However I think this should be moved to parquet-utils, we haven't got that project set up yet. Utils will add analytics and other stuff on top.

[2017-08-08 12:31] AndyCross commented on #181
cool; open this issue in Parq and have it moved out of parq. We shouldn't have two implementations. Also it shouldn't go into Parquet-dotnet to come into parquet-utils, that's silly.

[2017-08-09 18:51] we7313 commented on #180
It would be great to be able to infer a schema from a json file or to be able to provide a jsonschema file to build the parquet schema.

[2017-08-09 20:00] xhochy commented on #177
The main use case for these statistics is in predicate pushdown of a query over a Parquet dataset. Most engines (Presto, Impala, Drill,...) will use them to determine whether to read a Page/ColumnChunk. The most important statistics here are min and max.

[2017-08-09 20:02] aloneguid commented on #18
I've started working on this and have a reader prototype in my forked repo.

[2017-08-09 20:06] aloneguid opened #182 "Move CVS support out of this project"
This is not specific to parquet therefore things like CSV and JSON shouldn't be here. Prepping another project to move this out.

[2017-08-09 20:06] aloneguid commented on #181
Moving this out soon to another project.

[2017-08-11 00:20] joymon opened #183 "fatal error reading column 'c_name'"
I tried to read sample files from below repo using the nuget package.1.1.0-alpha-124
https://github.com/Parquet/parquet-compatibility/tree/master/parquet-testdata/impala
The exception I got is as follows. Anything I am missing? Any version mismatch or anything?

ParquetException - {"fatal error reading column 'c_name'"}

Inner exception - Index was outside the bounds of the array.
   at Parquet.Fi

[2017-08-11 08:57] aloneguid commented on #183
@joymon thanks for reporting this, I can confirm it's a bug and can see where it fails.

[2017-08-11 21:09] aloneguid commented on #183
@joymon this is partially fixed, one of the files is still failing so we'll keep digging )

[2017-08-14 09:42] aloneguid commented on #183
@joymon latest alpha includes a fix for this, let me know if you have any issues.

[2017-08-14 09:42] #183 closed

[2017-08-14 09:43] #181 closed

[2017-08-14 09:44] aloneguid commented on #180
@we7313 we've moving this out of the project as it's not related to parquet format, better solve one problem well ) We'll publish something soon as a separate package.

[2017-08-14 09:44] #180 closed

[2017-08-14 09:45] aloneguid commented on #37
out of scope

[2017-08-14 09:45] #37 closed

[2017-08-14 09:56] #182 closed

[2017-08-14 10:55] aloneguid opened #187 "Support nested arrays in reader"
It's more complicated than I thought, schema classes already rewritten. Repetition levels implemented. The only thing left is merging results into tree-like structures.

- [x] extend schema to fit nested columns
- [x] read repetition levels
- [ ] merge repetition levels with results
- [ ] when writing, check for nested schema and throw NotSupportedException

[2017-08-14 10:56] aloneguid opened #188 "Support nested structs and arrays in writer"
depends on #187

required by #223

[2017-08-15 08:32] aloneguid opened #189 "Decimal .NET type support"
Requires some sort of annotation.

[2017-08-15 15:37] aloneguid opened #192 "DateTime .NET type support"
Dates are supported perfectly fine, however in a form of DateTimeOffset which seems to confuse people. Therefore allow specifying DateTime in schema as well.

[2017-08-16 15:50] we7313 commented on #111
It looks like the fix to run in Athena has an issues:
If you take the basic example of creating parquet with elements id & city & change the input
from:
ds.Add(1, "London");
ds.Add(2, "Derby");
to
ds.Add(1, "London");
ds.Add(2, "London");

Athena errors.
It seems that is erroring on  the string column being a duplicate.  This issue does not happen if you have duplicate ints.

[2017-08-16 15:54] we7313 opened #193 "New Athena issue"
It looks like the fix to run in Athena has an issues:
If you take the basic example of creating parquet with elements id & city & change the input
from:
ds.Add(1, "London");
ds.Add(2, "Derby");
to
ds.Add(1, "London");
ds.Add(2, "London");

Athena errors.
It seems that is erroring on the string column being a duplicate. This issue does not happen if you have duplicate ints.

[2017-08-16 16:10] aloneguid commented on #193
@we7313 this may be because parquet.net is switching encoding from plain to dictionary when there are duplicate values over a threshold, this is to minimize file size. I'm not sure Athena supports that, but I'll get it confirmed and come back to you.

[2017-08-16 20:16] aloneguid commented on #150
@AndyCross I know parquet for java supports this, but I'm keen to drop this issue for the reason it's exposing parquet internals and we're trying to make it as simple as possible.

[2017-08-16 20:16] #18 closed

[2017-08-18 13:37] dmitryPavliv opened #194 "Int64 .NET type support"
can you guys add support for Int64 (BIGINT) datatype?

[2017-08-18 13:46] aloneguid commented on #194
@simoco should be trivial to implement, we already have code to write Int64, it's just not covered in tests yet and therefore not exposed.

[2017-08-18 13:47] dmitryPavliv commented on #194
@aloneguid thanks, waiting for the release

[2017-08-18 14:27] we7313 commented on #193
Is there any update on this?  If it is an encoding issue, is there a way we could force it to plain???

[2017-08-18 15:33] xhochy commented on #193
This should not be an issue with Athena as Athena (and the underlying Presto) should be able to read Dictionary encoding.

Plain and Dictionary Encoding are the two essential ones every library should definitely support.

[2017-08-18 15:36] xhochy opened #195 "Integrationtests with Apache Parquet-cpp/mr"
It would be nice to have cross checking between various parquet implementations.

As a reference we could use the setup Apache Arrow is using to crosscheck its different implementations.

[2017-08-18 16:37] aloneguid commented on #193
@xhochy  there seems to be slight differences in Athena and parquet-mr implementations as we always cross-check against parquet-mr. Do you know by any chance which underlying library Athena (or Presto) is using, so we can easily embed this in integration tests?

[2017-08-18 16:39] aloneguid commented on #195
@xhochy @azurecoder we're working on performance comparison framework using all the popular libs (parquet-mr, fastparquet, parquet-cpp) which should be a base for better integration testing.

[2017-08-18 17:44] we7313 commented on #193
This is what I see when I do a show table in athena:
CREATE EXTERNAL TABLE `city`(
  `id` int,
  `city` string)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
LOCATION
  's3://ds-parquet/city'
TBLPR

[2017-08-18 18:03] xhochy commented on #193
@aloneguid no, sadly I have no idea but I guess some parts are custom code in Presto as Presto has a vectorized Parquet reader which parquet-mr has not yet.

Can you share one of these problematic files or try to read them with Parquet-cpp/pyarrow.parquet?

[2017-08-18 18:48] we7313 commented on #193
here is the c# code to reproduce the file/problem.
  var ds = new Parquet.Data.DataSet(
                new SchemaElement<int>("id"),
                new SchemaElement<string>("city")
            );

            ds.Add(1, "London");
            ds.Add(2, "London");

            using (Stream fileStream = File.OpenWrite("c:\\city.parquet"))
            {
                using (var writer = new Parq

[2017-08-18 18:58] we7313 commented on #193
I can read the file with parquet-dotnet as well.
The only problems appears to be in Athena.  I did some trouble shooting on creating different files and data types and it seems to come to the files with a string data type and have at lease 1 duplicate value in the strings column (like demonstrated above).

[2017-08-21 07:50] kRaBby opened #196 "NullRefrenceException for IsNullable field"
Version: 1.1.128
Code:

            var ds = new DataSet(
                new SchemaElement<int>("id") ,
                new SchemaElement<int>("city") { IsNullable = true}
            );

            ds.Add(0, null);

            using (Stream fileStream = File.OpenWrite("c:\\test.parquet"))
            {
                using (var writer = new ParquetWriter(fileStream))
                {

[2017-08-21 07:57] aloneguid commented on #196
@kRaBby it's a bug in a sense that IsNullable shouldn't be settable in schema. All fields support null values. Does it work for you when not specifying IsNullable?

[2017-08-21 08:08] kRaBby commented on #196
No, same situation with:
`
            var ds = new DataSet(
                new SchemaElement<int>("id") ,
                new SchemaElement<int>("city")
            );

            ds.Add(0, 0);
`

[2017-08-21 08:09] aloneguid commented on #196
@kRaBby we're looking at it, thanks for reporting.

[2017-08-21 15:13] we7313 commented on #193
Were you able to reproduce the problem?  Let me know if I can provide any more information.

[2017-08-21 15:44] aloneguid commented on #193
@we7313  just got to looking at this again, confirmed it's failing, I'll update you in a bit.

[2017-08-21 16:13] aloneguid commented on #193
@we7313 switching off dictionary encoding didn't really help :( We'll keep digging.

[2017-08-21 17:57] we7313 commented on #193
I was able to create a parquet file with pyArrowPython
and it looks considerably different and is queryable with athena:
PAR1L
$   London ,LondonLondon    	     &œ5 cityŒ”&< LondonLondon     $L  <               ,                  	    &´5 id ¨&Ì Œ                  

[2017-08-21 18:28] aloneguid commented on #193
@we7313 do you mind attaching this file here? I can do binary compare

[2017-08-21 18:31] we7313 commented on #193
[city-ParquetNet.txt](https://github.com/elastacloud/parquet-dotnet/files/1239811/city-ParquetNet.txt)
[City-PyArrowPython.txt](https://github.com/elastacloud/parquet-dotnet/files/1239810/City-PyArrowPython.txt)

[2017-08-21 18:31] we7313 commented on #193
I uploaded the files

[2017-08-21 19:35] aloneguid commented on #193
Thanks @we7313, I'll do binary compare in the morning. We'll work some compat tests with pyarrow and fastparquet, this problem is getting old )

[2017-08-21 19:40] aloneguid commented on #196
@kRaBby we've fixed this in latest alpha, can you please try if this works for you?

[2017-08-21 19:59] aloneguid opened #199 "Support multiple files and partitioned datasets"

[2017-08-22 10:01] aloneguid commented on #193
@we7313 found the issue, just wrapping up...

[2017-08-22 10:24] aloneguid commented on #194
@dmitryPavliv it's available in the latest alpha, please check if it works for you.

[2017-08-22 10:24] #194 closed

[2017-08-22 10:24] #192 closed

[2017-08-22 10:43] aloneguid commented on #193
@we7313 this is fixed now, works both in Athena and Spark

![image](https://user-images.githubusercontent.com/3155189/29561837-e8c30302-872e-11e7-8fac-57d572dfbb13.png)

Ended up being a bug our our side with dictionary encoding implementation :( It's available in latest alpha, can you please check if it works for you? Attaching generated parquet file here just in case as well.

[fuckathena.zip](h

[2017-08-22 12:32] dmitryPavliv commented on #194
@aloneguid thanks, it works

[2017-08-22 12:58] we7313 commented on #193
confirmed fixed!  Thanks, I'll run some huge payloads against it and verify.
I appreciate all the hard work.

[2017-08-22 14:47] kRaBby commented on #196
It works. Thanks.

[2017-08-22 14:48] #196 closed

[2017-08-22 21:47] #193 closed

[2017-08-23 18:51] we7313 opened #203 "Merge schemas and rows"
It would be nice to implement a merge method, like system.data.dataset has.
Right now if I need to roll up many smaller parquet files I need to open each file and iterate through it row by row.  An optimized approach would be great.

[2017-08-23 18:56] aloneguid commented on #203
@we7313 as `DataSet` implements `IList<Row>` you can simply do `ds1.AddRange(ds2)` - that will do merge if schemas match. Or would you expect merge method to also merge schemas?

[2017-08-23 18:59] we7313 commented on #203
AddRange is exactly what I was looking for thanks!

[2017-08-23 19:05] aloneguid commented on #203
@we7313 you're welcome. I think a method which can also merge schemas would be extremely useful so I'll keep this open.

[2017-08-24 18:59] AndyCross opened #204 "Unable to target .NET Framework 451"
Parquet-dotnet ships to nuget and supports .NET Framework 451, but its dependency Snappy.Sharp only targets .NETStandard=v1.1

When trying to use with .NET Framework 451, there is an error:
![image](https://user-images.githubusercontent.com/773613/29683575-c1918c20-8906-11e7-9fee-bf429f930184.png)

[2017-08-24 19:21] aloneguid commented on #204
Which framework is the main project targeting?

[2017-08-24 19:38] AndyCross commented on #204
4.5.1

Attempting to gather dependency information for package 'Parquet.Net.1.1.128' with respect to project '1.BlobAbstractions\BlobAbstractions.ADLS', targeting '.NETFramework,Version=v4.5.1'

[2017-08-25 09:56] AndyCross commented on #204
If you install Snappy.Sharp first, then Parquet.Net this succeeds.

[2017-08-25 11:06] aloneguid opened #205 "Document how to work with dates"
Seems to be a very common concern

[2017-08-25 19:05] aloneguid commented on #189
@azurecoder the code is fine as Spark reads this with no problem, I'm not sure however how to choose scale and precision when writing. The problem is that both can be specified only once per column, however you can have many numbers where one scale doesnt fit all, so if value range is vast there will be some lose of precision.

[2017-08-25 19:22] aloneguid commented on #204
Snappy.Sharp doesn't seem to be maintained. The solution i see is either fork it off and fix the build or find an alternative library. @sandy-may are you up for this? )

[2017-08-25 22:44] sandy-may commented on #204
yeah I will look at forking it out over the weekend and getting up to scratch

[2017-08-26 16:42] aloneguid opened #207 "Apache Thrift dependencies"
Not quite sure why stripped down version of Thrift needs that many dependencies we don't use. May be worth contributing to Thrift project and change this (the hightlighted ones dont' need to be there):

![image](https://user-images.githubusercontent.com/3155189/29743252-f11f74a4-8a85-11e7-84b5-7f8e7a204b2d.png)

[2017-08-26 16:49] aloneguid opened #208 "Consider using native version of Snappy"
As #204 explains C# implementation is not maintained. It might be worth using native binaries, there is an example of P/Invoke and switching between platforms here:
https://bitbucket.org/robertvazan/snappy.net/src/ffa7e8165ae7e2ec5e8384b21a9b406ad972c3f1/Snappy.NET/?at=default

Project root gives a lot of links to other materials http://google.github.io/snappy/

[2017-08-27 18:19] azurecoder commented on #203
@aloneguid picking this up. Spark does this seamlessly would be good to do this too.

[2017-08-29 07:41] #189 closed

[2017-08-29 07:48] dmitryPavliv commented on #189
@aloneguid are you guys plan to add support for specifying scale / precision in schema definition? as I understood it is hardcoded now
`var bd = new BigDecimal(d, 38, 18);`

[2017-08-29 07:50] aloneguid commented on #189
@dmitryPavliv you're correct it's hardcoded. I don't quite understand yet how to detect best precision/scale unless you specify it manually. The problem is that these two have to be set per column, not on individual values.

[2017-08-29 07:51] aloneguid commented on #189
@xhochy maybe you can kindly advise?

[2017-08-29 07:53] dmitryPavliv commented on #189
yes, we need to set it on column basis and from my understanding it should be done in `new SchemaElement<decimal>("dec")` or derived from it class

[2017-08-29 07:55] aloneguid opened #209 "Support decimals with different precisions"
At the moment precision and scale is hardcoded as I didn't understand how to choose it best automatically. This should be allowed to be specified in schema or detected same way parquet-mr does.

See https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#decimal for more.

Please see #189 for discussion and details.

[2017-08-29 08:10] aloneguid commented on #189
@dmitryPavliv I think you're right, however when doing work in Scala I don't have to specify scale/precision, i.e.

[code]

then by writing to parquet:

[code]

I get the following schema back:

[code]

so somehow it thinks that precision is 38 and scale is 18, which is what remains a mystery so far.

[2017-08-29 08:13] aloneguid commented on #189
opened #209 for this

[2017-08-29 08:21] xhochy commented on #189
@aloneguid I have no idea how the Scala code actually comes to the precision but in Parquet the precision and scale are part of the schema and does global on a per file basis.

Also be aware that the choice of PhysicalType used for storing the decimals depends on the chosen precision as outlined in the spec: https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#decimal

[2017-08-29 10:27] aloneguid commented on #189
.NET BCL doesn't have BigDecimal implementation unfortunately (only BigInteger)  and nothing alternative to Java's BigDecimal. System.Decimal is somewhat more limited than BigDecimal and I believe mapping from C# decimal to Parquet can have hardcoded precision/schema, however I didn't work it out perfect.

I see BigDecimal support possible by introducing a new type, or using some well-known librar

[2017-08-29 10:32] dmitryPavliv commented on #189
@aloneguid agree, c# doesn't have BigDecimal, but here is my use case: I have table in Impala with decimal columns and I want to save data from my .net app. For example my table has columns with decimal (17,12). If I will use hardcoded scale / precision for serialization like (38,18) Impala won't recognize this parquet file as it expects (17,12) which has different data size as was correctly point

[2017-08-29 10:41] aloneguid commented on #189
@dmitryPavliv that's a good use case, thanks. The only way to do  that is add a custom type then. It doesn't work as we always use FIXED_LENGTH_BYTE_ARRAY for decimal, whereas Parquet needs INT64 for precision <= 18 and INT32 for precision <= 9.

Are you using `decimal` in C# to represent your data at the moment?

[2017-08-29 10:47] dmitryPavliv commented on #189
yes, we're using decimal in c#. Currently we have odd flow because of luck of .net parquet serializer:
1) we serialize our data in AVRO format (dates are stored as BIGINT, decimals are stored as STRING - this is how microsoft implementation of AVRO serializer works)
2) we save AVRO files to HDFS in stage database
3) we execute script to convert AVRO to PARQUET on Impala side
`INSERT INTO parquet_t

[2017-08-29 10:53] aloneguid commented on #189
thanks @dmitryPavliv  for detailed explanation, we should be able to add it some time this week

[2017-08-29 12:42] aloneguid commented on #189
@dmitryPavliv this is in out latest alpha if you want to check it out and see if it works for you. This is how it's done today - https://github.com/elastacloud/parquet-dotnet/blob/master/doc/types/floating.md

[2017-08-29 12:49] dmitryPavliv commented on #189
@aloneguid perfect! we will test

[2017-08-30 07:25] aloneguid commented on #209
@dmitryPavliv just wondering if you had a chance to check this out ;)

[2017-08-30 12:15] dmitryPavliv commented on #209
Hi @aloneguid . Yep, we've checked. But unfortunately we're receiving error

`Bad status for request TFetchResultsReq(fetchType=0, operationHandle=TOperationHandle(hasResultSet=True, modifiedRowCount=None, operationType=0, operationId=THandleIdentifier
(secret='\x04N\xd1\\\r\xdeGG\x00\x00\x00\x00\xd5\xd1\xa7"', guid='\x04N\xd1\\\r\xdeGG\x00\x00\x00\x00\xd5\xd1\xa7"')),
orientation=4, maxRows=100):

[2017-08-30 12:19] dmitryPavliv opened #211 "Add support for .Net byte type"
Please add support for .Net `byte` type
https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#numeric-types (`INT_8`)

[2017-08-30 14:28] aloneguid commented on #209
@dmitryPavliv can you attach the parquet file and code used to generate it here? I can't see anything obvious yet.

[2017-08-30 19:07] nzapolski commented on #209
Hi @aloneguid . Let me show parquet file with such problem.
[parquet.zip](https://github.com/elastacloud/parquet-dotnet/files/1264700/parquet.zip)
Class to serialize
[code]

Schema for it
[code]

Table
[code]
Error message

[2017-08-30 19:28] aloneguid commented on #209
@dmitryPavliv @nzapolski thank you, I can read the file with both parquet.net and parquet-mr (Java) with no problem. I'm not quite sure why Impala doesn't read decimal yet, however this message "has an incompatible Parquet schema" tell me that Impala has some special rules around that not compatible with parquet specs. I'll investigate.

[2017-08-30 19:33] aloneguid commented on #209
@dmitryPavliv  @nzapolski I found the problem, looks like Impala only understands one encoding for decimals as described in https://issues.apache.org/jira/browse/SPARK-20297 whereas there are 3 encodings Parquet spec supports for decimals. Parquet.Net lib switches between them based on precision number, so we have to add some impala compatibility switch. I should come back to this on Monday.

[2017-08-30 21:32] aloneguid commented on #209
@dmitryPavliv @nzapolski  so I couldn't wait and just done it. In the latest alpha 1.2.0-alpha-137) there is an optional parameter `DecimalSchemaElement(string name, int precision, int scale, bool forceByteArrayEncoding = false)` which when set to true will write decimals so they are compatible with Hive and Impala. I wonder if you can try it as I don't have impala nearby.

[2017-08-31 11:01] nzapolski commented on #209
@aloneguid Great work! Now select query works fine via Hive. But we faced another problem via Impala:

[2017-08-31 11:08] dmitryPavliv commented on #209
@aloneguid please refer to Impala docs for details https://www.cloudera.com/documentation/enterprise/5-6-x/topics/impala_decimal.html

![image](https://user-images.githubusercontent.com/8275275/29920357-d26b4b90-8e55-11e7-8613-da946a09da53.png)

[2017-08-31 17:42] azurecoder commented on #203
Adding a merge method to DataSet but will talk through with you. Spark does seamlessly looking at directory of parquet files. Longer term this might be better. Worth discussing whether parquet-dotnet is the right place for this.

[2017-09-05 15:40] aloneguid commented on #209
Hi @dmitryPavliv sorry just got to this issue. I've added the byte array size correction for Impala, it's in the latest alpha (138)

[2017-09-06 10:42] dmitryPavliv commented on #209
hey @aloneguid , works perfectly! thanks

[2017-09-06 10:49] aloneguid commented on #209
@dmitryPavliv thank you for the patience ;)

[2017-09-06 19:19] azurecoder commented on #205
Will take this on, pull out the tests and add a dates doc

[2017-09-06 20:19] #209 closed

[2017-09-08 00:07] alexdeng opened #217 "Document that nulls are always allowed"
Why is primitive nullable types not supported (exception thrown in the code specifically for this case)?
parquet spec won't encode null but can support columns with null values in definition levels. Any plan to support primitive nullable columns?

[2017-09-08 07:41] aloneguid commented on #217
@alexdeng they are supported, in a way. `ParquetSchema<T>` always accepts a non-nullable type like `int`, `long` etc., however any value in parquet dataset is allowed to be null. When we write the file and find a null value, the underlying internal parquet structures will include appropriate schema and definition levels are written as well. We didn't want to make a distinction between nullable and

[2017-09-08 07:44] aloneguid commented on #217
@alexdeng also shifting this decision to parquet library allows us to minimize space used i.e. when you don't include any nulls there is no need to write definition levels and file becomes smaller.

[2017-09-08 10:41] #203 closed

[2017-09-09 06:38] aloneguid opened #218 "Drop .NET 4.5 support"
.NET 4.5 doesn't comply with .NET Standard very well and this is holding us backwards.

[2017-09-11 12:52] softeering commented on #204
Just faced this issue on my side and while trying to add the NuGet ref to Snappy.Sharp, I found this:
https://snappy.machinezoo.com/

You probably already saw this but just in case

[2017-09-11 12:54] AndyCross commented on #204
hey @softeering I managed to get around this by first installing the Snappy.Sharp independently of parquet-dotnet. There's a little weirdness in the dependencies which we still have to solve.

Thanks

[2017-09-11 12:56] softeering commented on #204
Thanks @AndyCross I saw your comment, which actually did the trick.
Mine was more about changing Snappy.Sharp with something else (from @aloneguid)

[2017-09-12 10:32] aloneguid commented on #204
We were thinking of dropping support for .NET 4.5 and targeting .NET Standard 1.4 only (which is supported in .NET 4.6). I wonder if there are any use cases actually requiring .NET 4.5?

[2017-09-12 12:01] softeering commented on #204
I wouldn't mind dropping support for .NET 4.5 but that's a personal opinion.
On another point, I added the nuget references to an existing app (ASP.NET 4.6.1, EF 6...) and the .NET standard packages "broke everything" (issues with references)

Why does Parquet.NET require pakages such as Kestrel? ASP.NET Core and others?
I simply wanted to be able to generate a parquet file from System.Data.DataTa

[2017-09-12 12:25] aloneguid commented on #204
@softeering unfortunately this is due to a problem with Apache Thrift dependency. Stupidly enough Apache Thrift references Kestrel library and a few more as in #207. I've already raised the issue in Thrift Jira and working on a .net standard port with zero dependencies.

[2017-09-12 12:29] softeering commented on #204
@aloneguid got it thanks
I didn't have a deeper look at Apache Thrift. That's unfortunate, I won't be able to use Parquet.NET until this gets cleaned. I'll have a look at the apache-thrift lib to try to understand these dependencies.

[2017-09-12 12:35] dmitryPavliv commented on #204
@aloneguid if possible let's not drop support for .NET 4.5 as a lot of projects are still using it and you will just "cut audience" for single available .Net library for Parquet. Don't kill the hope:)

[2017-09-12 13:44] aloneguid commented on #204
@dmitryPavliv  is there any reason you can't use .NET 4.6? Just wondering, i'll keep 4.5 if it's required by anyone.

[2017-09-12 14:34] dmitryPavliv commented on #204
Well, I'm working on a big platform (30+ teams) and changing target framework need to be done for all projects. All build servers must be adjusted as well. It will require a lot of time and coordination which makes this task highly expensive. As usual on big project it is not always possible to be on trend :)

[2017-09-12 14:40] aloneguid commented on #204
@dmitryPavliv I understand 👍 Just compiled a custom Thrift build with zero dependencies and kept .net 4.5.1 as a target, this should resolve an issue for @softeering  as well. I'll post here when a new build is ready.

[2017-09-12 14:40] aloneguid commented on #204
![image](https://user-images.githubusercontent.com/3155189/30331839-bd42cafc-97d0-11e7-9f5f-0e29e0976868.png)

[2017-09-12 14:41] dmitryPavliv commented on #204
@aloneguid you're the best!

[2017-09-12 15:22] #211 closed

[2017-09-12 15:22] #218 closed

[2017-09-12 15:22] #207 closed

[2017-09-12 15:39] aloneguid commented on #204
@dmitryPavliv @softeering v1.3 just went live, with most dependencies stripped out. As always thanks for contributing to parquet.net guys ;)

[2017-09-12 16:06] #204 closed

[2017-09-12 19:43] softeering commented on #204
Thanks to you guys for the quick turnaround
Will have a look asap

[2017-09-13 09:28] softeering commented on #204
Just as an FYI
I managed to reference Parquet.NET without any issue in my existing 4.6 app
Thanks again guys

[2017-09-14 12:42] nzapolski opened #222 "ParquetReader fails on column consisting null values only"
[parqet.zip](https://github.com/elastacloud/parquet-dotnet/files/1302963/parqet.zip)
I have problem with reading parquet file with table that contains column with NULL values only.

Failed on line
`if (indexes == null) throw new ParquetException("dictionary has no attached index");`

[code]

Example file is attached.

Thank you!

[2017-09-14 14:35] we7313 opened #223 "Need support for complex parquet objects"
Is a complex object like below able to be created with parquet.net?

{
	"Message": {
		"id": "0c04a8c6-eada-45b4-ac95-4e59672d0db8",
		"Timestamp": "2017-09-14T14:27:47.4356142Z",
		"Name": "App Name",
		"TransactionName": "PL",
		"AdditionalInfo": [{
			"Id": "User",
			"Value": "some value",
			"IsDebug": false
		}]
	}
}

[2017-09-14 14:57] aloneguid commented on #223
@we7313 potentially yes, however not at the moment. There is code which partially implements nested structures, arrays and repeated fields, however it's parked at the moment as it requires a lot of testing. We are planning to release this eventually, however it's not a priority at the moment.

[2017-09-14 15:16] aloneguid commented on #222
thanks @nzapolski I'll fix this rather soon )

[2017-09-14 15:17] aloneguid commented on #188
required by  #223

[2017-09-14 15:18] aloneguid commented on #223
@we7313 just wondering what's your use case for this? We couldn't find any useful application for nested structures hence the work was parked.

[2017-09-14 16:33] we7313 commented on #223
Thanks for asking.  I believe I have an excellent use case.
I'd like to be able serialize any object, put a parquet schema on it and put it in S3.
I then I would map an Athena table to it.  This object would now be query able while residing in S3, while not needing to maintain a database instance.  I could use this to capture change and basically create a real time event streaming repository.
I kn

[2017-09-15 13:49] aloneguid commented on #222
@nzapolski  forgot to mention the fix is available in latest alpha :)

[2017-09-15 13:53] aloneguid commented on #223
@we7313 I hear you. Unfortunately we're at least a few weeks away from getting this done. There is a set of interesting permutations in parquet schema to support this fully.

[2017-09-15 13:56] aloneguid opened #225 "Support simple repeated fields"
To start rolling out nested structures gradually we can at least support repeated fields in one of the releases.

[2017-09-15 13:56] aloneguid opened #226 "Support nested structures"
This is a container to group all issues that finish nested structures support:

- [x] #225 - repeated fields
- [x] #227 - nested non-repeated structures
- [x] #228 - repeated fields in nested structures
- [x] repeated structures
  - [x] read
  - [x] write
- [x] repeated structures in nested structures
  - [x] read
  - [x] write
- [x] compatibility tests

old parked issues: #187, #188

[2017-09-15 13:58] aloneguid opened #227 "Support non-repeated nested structures"
Only structures with non-repeated fields.

- [x] read support
- [x] write support

[2017-09-15 14:00] aloneguid opened #228 "Support repeated fields in nested structures"
- [x] read support
- [x] write support

[2017-09-15 14:02] aloneguid commented on #223
@we7313 created an issue #226 to track this. Hopefully will roll out gradually in different releases.

[2017-09-15 14:02] #223 closed

[2017-09-17 07:16] dmitryPavliv commented on #222
@aloneguid thanks, it works. You can close the issue

[2017-09-17 07:29] aloneguid commented on #222
Thanks @dmitryPavliv

[2017-09-17 07:29] #222 closed

[2017-09-18 05:28] nzapolski commented on #222
Thank you @aloneguid !

[2017-09-18 08:38] nzapolski opened #229 "Memory issue"
We have a 250Mb parquet file with 20M records.
Speed of reading of this file is too slow. The main problem is memory consumption.

In the middle of DataSet creation (at processing 10 millionth row) in call
`DataSet ds = merger.Merge(pathToValues);`
we have 25Gb of allocated RAM.

As a result we have long pauses in processing the rest of records due to GC.
What can you advice us in this situation?

[2017-09-18 09:01] aloneguid commented on #229
Hi @nzapolski, that's a really big file in parquet terms. Have you tried paging through the source file, you can pass `ReaderOptions` and set `offset` and `count`.

[2017-09-19 07:41] #225 closed

[2017-09-19 07:41] #166 closed

[2017-09-19 07:42] #217 closed

[2017-09-19 07:42] aloneguid commented on #208
Since v1.3 Snappy is embedded.

[2017-09-19 07:42] #208 closed

[2017-09-19 07:43] aloneguid commented on #199
This should be supported outside of the library.

[2017-09-19 07:43] #199 closed

[2017-09-23 19:55] martindurant commented on #171
For fastparquet, it's worth pointing out firstly, that the use case is somewhat tuned to pandas-like data, and secondly, that fastparquet will often read faster data which was written by fastparquet.

[2017-10-05 04:49] moggy001 opened #234 "DateTime columns fail on Write if SchemaElement is set to nullable"
If rows are added to a DataSet where some have a null value in a DateTime column (which causes that SchemaElement to be marked as nullable) while others have a valid DateTime in that column then the Write method will fail.

Column definition:

new SchemaElement<DateTime>(colInfo.GetColumnName());

Message:

The value "28/06/2017 00:00:00" is not of type "System.DateTimeOffset" and cannot be used i

[2017-10-05 15:05] aloneguid commented on #234
@moggy001 can you show the code you're using to reproduce this?

[2017-10-06 12:29] nzapolski opened #235 "short type is missing"
Hello!
Is it possible to add `short` type?

[2017-10-06 18:22] aloneguid commented on #235
Yes definitely. Should be there some time next week.

[2017-10-09 09:06] aloneguid commented on #235
@nzapolski by the way are you interested in contributing? I'm happy for you to do this fix.

[2017-10-09 13:22] nzapolski commented on #235
I will be happy to do this!

[2017-10-09 13:40] aloneguid commented on #235
@nzapolski thanks, assigned to you )

[2017-10-10 15:30] aloneguid commented on #234
Closing as can't reproduce this. Please feel free to reopen when more info is available.

[2017-10-10 15:30] #234 closed

[2017-10-10 15:30] #229 closed

[2017-10-11 16:28] #235 closed

[2017-10-12 10:17] moggy001 commented on #234
Code to reproduce as follows:

            var schemaElements = new List<SchemaElement>();
            schemaElements.Add(new SchemaElement<string>("primary-key"));
            schemaElements.Add(new SchemaElement<DateTime>("as-at-date"));

            var ds = new DataSet(schemaElements);

            // row 1
            var objData1 = new List<object>(schemaElements.Count);
            objData1

[2017-10-12 10:17] moggy001 commented on #234
@aloneguid , please would you reopen and have a look? Thanks

[2017-10-12 10:20] moggy001 commented on #234
If row 3 in the sample code is modified to have a valid DateTime value then all works ok.
I have worked around the problem by using DateTimeSchemaElement instead and converting all valid (non-null) DateTime values to DateTimeOffset.

[2017-10-12 10:49] aloneguid commented on #234
@moggy001 thanks for the sample, reproduced and fixed it, should be on nuget in latest alpha in a few minutes.

[2017-10-12 11:12] moggy001 commented on #234
Cool. Thanks :-)

[2017-10-12 14:03] aloneguid opened #238 "Option to return data as a set of columns"
This is useful while reading from parquet and writing into another columnar format, as collecting data into DataSet spends a lot of CPU to slice columns in rows.

[2017-10-12 15:28] moggy001 opened #239 "BigDecimal constructor throws OverflowException for large decimal values"
The following constructor throws an exception...

[code]
If d = 83086059037282.54 and precision = 38 and scale = 16 then the scaled version of the decimal value cannot be calculated and throws an exception at System.Decimal.FCallMultiply().
My dataset holds the value in a column of type DecimalSchemaElement.
Easy to replicate with other values of d greater than 79000000000000 when scale is 16.

[2017-10-13 01:05] moggy001 commented on #239
I took a zip of the current master branch and copied it to my local and referenced that in my code.
To fix the problem (and probably a few other potential bugs) I altered the BigDecimal class to the following:

``
    struct BigDecimal
    {
        /// <summary>
        /// Contains a Decimal value that is the big integer
        /// </summary>
        public decimal DecimalValue { get; private s

[2017-10-13 06:45] azurecoder commented on #239
Hi @moggy001 can you generate a PR for this it's easier for us to diff and credit you with the changes. Can you also ensure that you have an up-to-date unit test in the tests project. Thanks for the contribution!

[2017-10-13 08:56] kRaBby opened #240 "Failed deserialize parquet file"
[1.zip](https://github.com/elastacloud/parquet-dotnet/files/1381960/1.zip)

Using parquet-dotnet we serialize data.
But both Impala and parq tool cant deserialize it
To test it manually we use this code:
`ParquetReader.ReadFile(@"d:\1\1.parquet ");`

Index was outside the bounds of the array.
StackTrace:
`   at Parquet.File.Values.PlainValuesReader.ReadPlainBoolean(Byte[] data, IList destination,

[2017-10-13 09:44] kRaBby opened #241 "nulable Decimal column Type_length issue"
![screenshot_2](https://user-images.githubusercontent.com/3025564/31540298-f586ceee-b013-11e7-94cc-00d52ac4fd40.png)

We have nullable decimal column. All values are null. In that case type_legth is not set and Impala fails to read. Posible this can be with other types.

From Impala source code:
![image](https://user-images.githubusercontent.com/3025564/31541572-c8f31366-b017-11e7-839d-949fdcbc07a

[2017-10-13 11:20] aloneguid commented on #240
thanks @kRaBby we'll investigate this

[2017-10-13 15:21] kRaBby opened #242 "Parquet tool cant deserialize file"
Parquet tool cant deserialize file.
[bad.zip](https://github.com/elastacloud/parquet-dotnet/files/1383056/bad.zip)
Command line:
`parquet-tools dump bad.parquet`
Also  we found a difference between generated and based schemas:
![image](https://user-images.githubusercontent.com/3025564/31554559-9ba5580e-b046-11e7-91b1-69348e860d2e.png)

[2017-10-13 15:24] aloneguid commented on #242
Every parquet library can generate different schema so I wouldn't worry about that. We'll have a look why it doesn't deserialise. Is this bad file generated by parquet.net or another library?

[2017-10-13 15:27] kRaBby commented on #242
Yes, we generated this file with parquet.net library

[2017-10-13 15:28] aloneguid commented on #242
thanks @kRaBby can you provide any code to reproduce this?

[2017-10-16 08:46] kRaBby opened #243 "Impala decimal size issue"
![image](https://user-images.githubusercontent.com/3025564/31602921-234f272c-b267-11e7-8f33-f11d6abf9511.png)
http://impala.io/doc/html/parquet-common_8h_source.html
![image](https://user-images.githubusercontent.com/3025564/31602973-5c28ccd8-b267-11e7-80ec-7c5a5844c488.png)
https://www.cloudera.com/documentation/enterprise/5-6-x/topics/impala_decimal.html
Impala documentation and source code cont

[2017-10-16 10:34] nzapolski commented on #243
I can take this issue

[2017-10-16 11:45] aloneguid commented on #243
@nzapolski you're welcome to :)

[2017-10-16 13:18] #188 closed

[2017-10-16 13:19] #187 closed

[2017-10-16 14:33] aloneguid commented on #240
This was a bug in our implementation, failing when a file does not contain enough data when all values are null, all fixed in latest alpha.

[2017-10-16 14:33] #240 closed

[2017-10-16 14:39] kRaBby commented on #240
great news. thanks a lot

[2017-10-16 14:54] aloneguid commented on #242
@kRaBby parquet library reads this, so this may be an issue with parquet-tools only. Can you confirm the library can read it for you? If so we may need to raise an issue in parquet-tools project.

[2017-10-16 15:22] kRaBby commented on #241
this issue related to https://github.com/elastacloud/parquet-dotnet/issues/243

[2017-10-16 15:30] kRaBby commented on #242
problem not only with parquet-tools but with Impala too.
As I understand main problem with Byte type: int32 (UINT_8) for Impalas TINYINT
Schema from Impala-generated file have: int32 for TINYINT
For now, workaround is use Int32 intead of Byte .

[2017-10-16 15:47] aloneguid commented on #242
@kRaBby oh I see, thanks. We have a few issues with Impala, it often doesn't conform to parquet specs, there are a few workarounds for it already. I'll check this and get back to you.

[2017-10-17 07:34] aloneguid commented on #243
@kRaBby - @nzapolski has fixed this, can you please check it's working for you in latest alpha?

[2017-10-17 12:21] kRaBby commented on #243
It works. Thanks.

[2017-10-17 12:21] #243 closed

[2017-10-17 12:30] kRaBby commented on #241
It looks like it not related with https://github.com/elastacloud/parquet-dotnet/issues/243
After last update (1.4.0-alpha-157) I catched this:
`
hadoop jar parquet-tools-1.9.0.jar schema --debug <file>
java.lang.IllegalArgumentException: Invalid FIXED_LEN_BYTE_ARRAY length: 0
        at org.apache.parquet.Preconditions.checkArgument(Preconditions.java:55)
        at org.apache.parquet.schema.Types

[2017-10-17 14:17] aloneguid commented on #241
@kRaBby this is still an issue, we'll have to check what parquet-mr does in this case, parquet spec doesn't say anything about it, so it's a matter of making other parsers happy. Bear with me, the fix is coming.

[2017-10-17 16:41] #177 closed

[2017-10-17 18:42] grbinho opened #247 "DateTime should not be allowed as SchemaElement type?"
While trying to append to a file, I ran into an issue with using `DateTime` as a type of `SchemaElement<T>`.
The code below will throw an exception:
`Parquet.ParquetException: 'DataSet schema does not match existing file schema'`

This is because `DateTime` schema is stored as `INT96`. When appending to file, original schema is read and INT96 is interpreted as `DateTimeOffset`. It's not possible t

[2017-10-17 19:50] aloneguid commented on #247
Valid point. We didn't have DateTime originally, only DateTimeOffset as it's somewhat suits better, however many developers prefer to work with DateTime so we added it and internally it gets converted into DateTimeOffset. The type information is lost in parquet, so we don't know which CLR type was used originally.

I guess we could make an allowance in IEquatable to treat both types as equal, that

[2017-10-17 20:19] aloneguid commented on #247
I'm going to have a closer look at this tomorrow)

[2017-10-18 08:59] grbinho commented on #247
Great. I'm open to doing a PR for this, I was just not sure which direction is preferred.

[2017-10-18 09:01] aloneguid commented on #247
@grbinho brilliant, thank you, help is greatly appreciated )

[2017-10-18 11:09] aloneguid commented on #241
Writing a null column in Scala just stamps it with default type length (38, 18) let me try to put this fix in

![image](https://user-images.githubusercontent.com/3155189/31715834-3d111a70-b3fd-11e7-8a20-df212a7ffd20.png)

[2017-10-18 11:39] aloneguid commented on #241
@kRaBby all good now, published to latest alpha, both Impala and Spark understands columns with all nulls. Can you validate it works for you?

[2017-10-18 12:58] aloneguid opened #249 "Allow nullable type in schema definition"
Although they are supported, the syntax `SchemaElement<T?>` can enforce it.

[2017-10-18 20:54] #249 closed

[2017-10-18 21:04] mukunku commented on #166
Due to the **Position** getter call below, doesn't this still make the Writer require a Seekable stream? The result of the Position doesn't seem to be used as well.

`public void Write(DataSet dataSet, CompressionMethod compression = CompressionMethod.Gzip, bool append = false)
      {
         PrepareFile(dataSet, append);

         var stats = new DataSetStats(dataSet);

         int offset = 0;

[2017-10-18 21:04] aloneguid commented on #242
@kRaBby sorry can you point me which column specifically is a problem in that bad.zip file?

[2017-10-18 21:11] aloneguid commented on #166
@mukunku that's a good point, looking at some stream implementations, they are throwing an exception when calling to `Position`. Although it's not the case with others we've used in testing. I think it's worth raising an issue for this. Which stream are you using at the moment?

[2017-10-18 21:15] mukunku commented on #166
I'm using [GZipStream](https://msdn.microsoft.com/en-us/library/system.io.compression.gzipstream.position(v=vs.110).aspx).

I had to wrap the GZipStream class in another class and override the Position getter to return a default value as a workaround for now.

[2017-10-18 21:17] aloneguid opened #252 "Non-seekable stream fails on GZipStream"
This is happening due to the fact that `ParquetWriter` calls to `.Position` which is not supported on this stream.

For testing you can wrap `MemoryStream` in `GZipStream`.

[2017-10-18 21:19] aloneguid commented on #166
@mukunku thank you, raised an issue for this #252.

[2017-10-18 21:21] aloneguid commented on #166
@mukunku just a thought, Parquet supports gzip compression out of the box, you can pass a compression method as a parameter. You might not need to compress it with GZipStream at all.

[2017-10-18 21:37] mukunku commented on #166
@aloneguid I'm very new to Parquet. The reason I didn't use the Gzip compression in the Write method is because I'm streaming a large data set as a Parquet file.

Which means I really have to create a DataSet and add a single row to it then write that to the output stream:` parquetWriter.Write(dataSet, CompressionMethod.None);` in a loop (Since I only  have one row of data in memory at any given t

[2017-10-18 21:52] aloneguid commented on #166
@mukunku we've got similar problems all over the shop, the simple answer is Parquet is not designed for streaming - it works best when writing in chunks of rows (5'000 seems to be a general advise).

What we ended up doing in a few projects is keeping DataSet open for some time until there are N number of rows available and flush it in one go with ParquetWriter.Write(), then accumulate next DataSe

[2017-10-19 06:42] kRaBby commented on #241
Looks like still something wrong:
`File '...' column '...' has an invalid type length. Expecting: 8 len in file: 16`

[2017-10-19 16:45] mukunku commented on #166
@aloneguid thanks for the tip. I'll look into it and see how it affects the output.

[2017-10-19 16:47] aloneguid commented on #241
@kRaBby how do you end up with this file, can you provide a code sample?

[2017-10-19 18:04] mukunku opened #253 "Parquet file created from HttpResponse stream is corrupt."
Hi,

I'm running into an issue where if I create the Parquet file using a File Stream I don't experience any issues but if I return the parquet file in a HttpResponse stream, the file ends up being corrupt.

The HttpResponse file is 2Bytes smaller than the FileStream one: [image](https://i.imgur.com/QTOyARF.png)

I'm disposing the ParquetWriter as I should so the stream is definitely getting flush

[2017-10-19 20:55] mukunku commented on #252
Just want to mention that:
`public Thrift.ColumnChunk AddColumnChunk(CompressionMethod compression, Stream output, SchemaElement schema, int valuesCount)`
also uses the Position property.

[2017-10-19 21:01] mukunku commented on #253
It seems this is because the Position property is used in the Schema generation. I guess this can be closed as a duplicate of #252

[2017-10-19 21:01] #253 closed

[2017-10-19 21:53] mukunku commented on #252
So I checked the [MemoryStream](https://github.com/Microsoft/referencesource/blob/master/mscorlib/system/io/memorystream.cs) implementation and, it seems, as long as you don't seek or read from a stream, keeping track of the position is merely keeping track of the bytes written. Please someone correct me if I'm wrong.

So I was able to finally generate a valid Parquet file by implementing my own P

[2017-10-20 10:08] aloneguid commented on #252
@mukunku latest alpha fixed this issue, therefore you might not need the workaround anymore :) Please feel free to check.

[2017-10-20 10:08] #252 closed

[2017-10-20 11:07] aloneguid commented on #239
I've integrated this in the latest alpha. Shame PR wasn't raised.

[2017-10-20 11:07] #239 closed

[2017-10-20 11:09] #247 closed

[2017-10-20 11:10] aloneguid commented on #238
DataSet stores data in columns internally now, however interface is kept backward compatible.

[2017-10-20 11:10] #238 closed

[2017-10-20 11:11] aloneguid commented on #253
@mukunku latest alpha now truly supports forward-only streams ;)

[2017-10-20 11:12] #205 closed

[2017-10-20 11:21] aloneguid opened #254 "Filter by columns"
Ability to read only specific set of columns instead of the whole file.

[2017-10-20 11:53] moggy001 commented on #239
Thanks Ivan. Unfortunately, I have never contributed to an open project before and I simply didn't get time to figure how to do so in between my regular work. I have other changes/ fixes that I think should be applied to this library so I shall try to raise a pull request for those.

[2017-10-20 11:58] aloneguid commented on #239
@moggy001 no worries, i understand. You code sample is brilliant and was easy to integrate ;)

[2017-10-20 12:55] mukunku commented on #252
@aloneguid
I tried the latest release v1.4.0-alpha-164 but this version throws an exception when trying to add null values to a dataset:

[code]

I assume you (or someone) added type constraints to the DataSet. But from what I read, DataFrames are supposed to match the SQL practices where non-reference types should be allowed to be null.

[Here is an example article I found on this](https://medium

[2017-10-20 12:57] aloneguid commented on #252
@mukunku yes sorry this is one of the changes we've made for dealing with nullable columns as it causes a lot of confusion: https://github.com/elastacloud/parquet-dotnet/blob/master/doc/schema.md#null-values

[2017-10-23 11:48] aloneguid commented on #241
@kRaBby any update on this?

[2017-10-23 12:27] aloneguid commented on #165
closing as there is not much value in it anymore, this should go to dataframes

[2017-10-23 12:27] #165 closed

[2017-10-23 20:07] akatz0813 commented on #226
Will a MAP be considered a nested structure?  If not, I'll open a request for it.    We need to serialize a string, string dictionary that are customer defined attributes that can change on each entry.

[2017-10-24 06:17] aloneguid opened #255 "Map type"
Implement map type as per https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#maps

- [x] read support
- [x] write support
- [x] compatibility tests

[2017-10-24 06:22] aloneguid commented on #226
@akatz0813 sorry no, it will be an embedded type as per https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#maps. I've raised #255 however we don't have any estimates when this will be done. Always happy to get help ;)

As a workaround you can always use a json document serialised into a string.

[2017-10-24 06:38] kRaBby commented on #241
Sorry for a long time did not answer.
With old version (1.3) I can not reproduce it in test. But with new version (1.5) I have exception:
Value cannot be null.
Parameter name: item
`   at System.ThrowHelper.IfNullAndNullsAreIllegalThenThrow[T](Object value, ExceptionArgument argName)
   at System.Collections.Generic.List`1.System.Collections.IList.Add(Object item)
   at Parquet.Data.DataSet.AddRow

[2017-10-24 06:56] aloneguid opened #256 "Throw better exception when adding nulls to non-nullable column"
### Expected behavior

Throw a more meaningful exception

### Actual behavior

See #241

[2017-10-24 06:59] aloneguid commented on #241
@kRaBby there is a breaking change in 1.4 and up on defining nullable schemas https://github.com/elastacloud/parquet-dotnet/releases - essentially now you need to define schema as `SchemaElement<decimal?>`.

[2017-10-24 07:43] kRaBby commented on #241
In case of SchemaElement<decimal?> how can I setup precision and scale?

[2017-10-24 10:20] akatz0813 commented on #226
@aloneguid is there a guide or primer to implementing new types? Or even a list of areas that require changes. I believe I can get someone ok my team to contribute.

[2017-10-24 10:46] kRaBby commented on #241
Look, I have made some changes and it looks good.
DecimalSchemaElement.cs
I added to ctor param
`bool nullable = false`
and
`Thrift.Repetition_type = nullable ? FieldRepetitionType.OPTIONAL : FieldRepetitionType.REQUIRED;`
Also I'm not sure about necessity to call `UpdateFlags();` or something else from base class.

Usage.
Instead of SchemaElement<decimal> or SchemaElement<decimal?> I used Decimal

[2017-10-24 11:17] aloneguid commented on #241
Hey @kRaBby yes you're right, forgot to account for nulls in DSE. Are you OK to raise a PR for this?

[2017-10-24 11:25] kRaBby commented on #241
@aloneguid  Yes, sure. And what about:

Should I add it?

[2017-10-24 11:33] aloneguid commented on #241
@kRaBby ah yes sorry, `UpdateFlags()` is called from base - `: base(name)` however it sets the schema to required. I think you may need to pass the `nullable` Boolean down to `Builder.CreateSimpleSchemaElement`:

[code]

[2017-10-24 11:59] aloneguid opened #257 "Read Schema"
Add helper method allowing to return schema from `ParquetReader`. You can always do that now by reading a `DataSet` with minimal amount of rows, however this is not intuitive.

Should have all the usual overloads:
- Instance methods `ReadSchema(...)`
- Static methods `ReadFileSchema(...)` etc.

[2017-10-24 12:03] aloneguid opened #258 "Check that custom types support nullables"
As v1.4 introduced nullable schema some custom types may not have the ability to be nullable (`DateTimeSchemaElement`, `DecimalSchemaElement`, `IntervalSchemaElement`). Please check if they do and if not add support for this.

[2017-10-24 12:07] aloneguid opened #259 "Guid logical type"
Support GUIDs as per https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#uuid (map to `System.Guid` CLR type)

[2017-10-24 12:11] aloneguid commented on #3
Closing as this encoding is never used.

[2017-10-24 12:11] #3 closed

[2017-10-24 18:50] #241 closed

[2017-10-24 18:51] aloneguid commented on #258
Fixed by @kRaBby in #241

[2017-10-24 18:51] #258 closed

[2017-10-24 19:05] aloneguid opened #261 "Document custom types"
Related issue - #258. Please describe all custom types, their options and parameters.

[2017-10-24 19:10] aloneguid opened #262 "Remove CSV documentation"
CSV is not supported for a while but docs mention it https://github.com/elastacloud/parquet-dotnet/blob/master/doc/reading.md#csv

[2017-10-25 11:34] macalbert opened #263 "Netbox may generate conflicts"
Hi,

First of all thanks for your great job and nice library ;)

Really, do you need to include  **NetBox** library in the project?
I think that this library may generate conflicts, because this overrides as extension the **AsEnumerable()** method of class **Enumerable** in **System.Linq**.

[2017-10-25 11:41] aloneguid commented on #263
Thanks @macalbert we're trying ;) Netbox is just a collection of boring repetitive stuff to save on typing which makes some C# functionality faster to develop, there is no real need for it. It shouldn't override any behaviour, only add some extras ;)

[2017-10-25 11:41] #263 closed

[2017-10-25 17:34] #262 closed

[2017-10-26 10:36] aloneguid opened #264 "Embed Apache Thrift"
As Apache.Thrift is not really supported for .NET Standard - there are plenty of duplicates on NuGet from different authors trying to port it and Apache community doesn't do anything to get it done - we can embed only the required core functionality into Parquet.Net just like we've done with Snappy. This should reduce dependencies to minimum.

[2017-10-26 11:05] aloneguid opened #265 "Remove dependency on NetBox"
It was used to accelerate development, but not required anymore.

[2017-10-26 11:05] #264 closed

[2017-10-26 11:05] #265 closed

[2017-10-26 16:05] aloneguid commented on #242
Hey @kRaBby  what should we do about this one? ;)

[2017-10-27 16:25] we7313 opened #266 "Parquet Dataset.Clear does not remove rows added to Dataset"
After creating a new dataset (creating the schema for the parquet file).  I would like to add rows and then write them to a file.  Without creating a new dataset object with schema I would like to be able to clear out the rows to add new rows and write again.
The method Dataset.clear is available, but does not clear out the rows.
Is there another way to do this?

[2017-10-27 16:40] aloneguid commented on #266
`Clear` is not implemented yet although it's trivial to do - it needs to clear column values (internally data is stored in columns, Row is generated on request).

[2017-10-27 19:20] we7313 commented on #266
Agreed, its columnar!  Should it not have thrown a not implemented exception?

[2017-10-29 16:16] aloneguid commented on #266
@we7313  yes ideally :) seems like a bug! Are you keen to work on it and raise a PR?

[2017-11-02 12:57] #266 closed

[2017-11-02 12:58] aloneguid commented on #242
closing as cannot reproduce, feel free to reopen with more info.

[2017-11-02 12:58] #242 closed

[2017-11-02 12:59] aloneguid opened #267 "Custom metadata in file"
Add documentation on how to write/read custom metadata to the file. If it's not exposed publicly also needs to be done as well.

[2017-11-02 13:02] aloneguid commented on #263
Netbox is removed as a dependency.

[2017-11-02 13:12] #227 closed

[2017-11-02 14:47] #228 closed

[2017-11-03 22:39] macalbert commented on #263
nice, great job @aloneguid !

thx :)

[2017-11-07 18:19] we7313 commented on #203
It seems that the AddRange functionality has been removed in the more recent builds.  I know this was last available in the 1.4 builds, but is no longer available in the 1.5 builds.  I use this to take smaller parquet files and roll them up into a bigger file (with the same schema).

[2017-11-08 23:46] aloneguid commented on #203
@we7313 1.5 is still in preview, there are a few breaking changes, can you open a new issue please ;)

[2017-11-08 23:48] aloneguid commented on #226
This is working now, still testing for compatibility with Impala and Spark though.

[2017-11-08 23:49] aloneguid opened #268 "Investigate ENUM"
Investigate how we can implement this according to https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#enum

[2017-11-08 23:50] aloneguid opened #269 "NULL Column (special column with all nulls)"
As per https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#null

[2017-11-09 01:08] we7313 opened #270 "Add range method is no longer available"
I used to be able to merge multiple datasets with the dataset.addrange(newdataset).

This has no longer been available since version 1.3.
Are you planning on adding this back in?

[2017-11-09 12:02] #226 closed

[2017-11-09 12:02] #255 closed

[2017-11-14 02:11] domdom opened #271 "Namespace for EnumerableExtensions causes conflicts"
Similar to https://github.com/aloneguid/support/issues/8

[2017-11-14 06:36] aloneguid commented on #271
The issue has no description

[2017-11-14 06:46] domdom commented on #271
Sorry, I thought the one linked was sufficient since this is essentially the exact same problem.

Essentially, if I were to use this library, its dependency on Netbox introduces extension methods into the System.Collections.Generic namespace that conflict with my own extension methods. There is no way to work around this since those files often depend on other System.Collections.Generic types.

Of

[2017-11-14 07:27] aloneguid commented on #271
Hey we have no dependency anymore, if you're upgrading this needs to be removed manually from NuGet

[2017-11-14 22:12] domdom commented on #271
Awesome, thanks :)

[2017-11-15 14:56] #271 closed

[2017-11-17 14:49] jimfum opened #272 "No values in a repeatable field makes file unreadable"
Spark (using Databricks 3.3, Spark 2.2.0) doesn't read repeatable string fields from parquet file created by parquet-dotnet 1.5.1.

[code]

loading the file in Spark:

[code]

results in:

schema correctly read and displaying:
[code]
but the data displayed **show just "[]"** instead of the two strings expected.

Anything I'm missing?

Thanks for the great work guys!

[2017-11-17 17:51] jimfum commented on #272
In addition if I pass in string array with several fields, Databricks Spark shows just [] (empty array) but if I pass in an empty string array (why not), Spark fails with an exception.

`
SparkException: Job aborted due to stage failure: Task 0 in stage 27.0 failed 1 times, most recent failure: Lost task 0.0 in stage 27.0 (TID 27, localhost, executor driver): java.io.IOException: totalValueCount =

[2017-11-20 10:31] vasishta79 commented on #267
Hi,

Does it support .Net core?  Can someone provide samples for struct and map data type?

Thanks

Ramesh S B

[2017-11-20 12:46] aloneguid commented on #267
Yes it does.. Net standard 1.4 and up! Samples are in docs, the link is on front page)

[2017-11-20 14:25] AndyCross commented on #267
https://github.com/elastacloud/parquet-dotnet/blob/master/doc/complex.md#maps

[2017-11-22 17:13] macalbert opened #273 "Unexpected behavior on booleans after write"
Hi!

I'm moving historical data to aws s3, to try the improvements that offer this format to Athena and Redshift Spectrum.

After verifying the source and destination data, some source '**true**' values has been written like '**false**' value. This behaviour only occurs when columns when type is bool (for the moment).

I was check my process to fill the **DataSet**, may be I'm doing somthing.

I'm

[2017-11-22 17:21] aloneguid commented on #270
@we7313 I'm currently busy with next major version 2.0 which has a lot of cool stuff, probably not until then ;)

[2017-11-22 17:39] we7313 commented on #270
Cool, I understand.  I do miss this functionality, its how I was merging thousands of parquet files created in my server-less environment.

[2017-11-22 17:51] aloneguid commented on #270
@we7313  it should be back in 2.0 and preview should be out this month, for now you can just enumerate rows and add them one by one. This is not fast but that's how it was happening anyway. In 2.0 we'll be able to merge data blazing fast by merging column arrays instead of decomposing into rows.

[2017-11-22 23:04] #267 closed

[2017-11-22 23:07] aloneguid commented on #273
Never seen anything like that before. Feel free to reopen with a reproducible sample.

[2017-11-22 23:07] #273 closed

[2017-11-22 23:20] aloneguid commented on #272
I can read this in 2.0 preview which you can get from custom nuget feed at https://ci.appveyor.com/nuget/parquet-dotnet-nvq9lkymhrek (unfortunately no time to check or fix in 1.5 as i'm the only one on the project at the moment)

[code]
![image](https://user-images.githubusercontent.com/3155189/33153756-a5da8cb8-cfdb-11e7-8ffd-d800555694fd.png)

[2017-11-22 23:32] aloneguid commented on #272
I can confirm that no values in the repeatable field causes problems though ;)

[2017-11-22 23:34] #256 closed

[2017-11-22 23:43] #153 closed

[2017-11-22 23:43] #17 closed

[2017-11-22 23:43] aloneguid commented on #171
always pending!

[2017-11-22 23:43] #171 closed

[2017-11-22 23:43] aloneguid commented on #195
unfortunately won't happen any time soon

[2017-11-22 23:43] #195 closed

[2017-11-22 23:44] #261 closed

[2017-11-23 16:37] macalbert commented on #273
Yes, it is quite strange. I have done a unit test that reproduces the behavior and you can prove it yourself.

Regards!

[code]

[2017-11-24 06:58] macalbert opened #274 "Unexpected behavior writing booleans as 'true'"
Following the issue #273, I have done a unit test that reproduces the behavior and you can prove it yourself.

This test generates a list of **CustomObjects** where they have a bool property called "**Enabled**" and are always set to "**true**", after writing this list of **CustomObjects** to file in parquet, reads the parquet data and verify that all columns are true.

Regards!

[code]

[2017-11-24 07:05] aloneguid commented on #274
Brilliant thank you, enough details to get on) this will go into 2.0 release, should be in preview shortly

[2017-11-24 11:40] aloneguid commented on #272
found the problem now, the fix should come next week )

[2017-11-24 11:44] aloneguid commented on #150
@AndyCross sorry definitely not going to happen, too much work to expose such internals and will compromise performance.

[2017-11-24 11:45] #150 closed

[2017-11-24 14:49] aloneguid commented on #270
done, scheduled for 2.0 release

[2017-11-27 13:29] aloneguid commented on #272
Fixed in 2.0 preview ;) You can check if it work for you by referencing a cusom nuget feed for dev releases: https://ci.appveyor.com/nuget/parquet-dotnet-nvq9lkymhrek

[2017-11-27 13:29] #272 closed

[2017-11-27 13:39] aloneguid commented on #274
Hi @macalbert I couldn't reproduce this in 2.0, I've shortened the test to:

[code]

Can't see any difference?

[2017-11-27 13:46] aloneguid commented on #259
Guid doesn't have any type annotation allowing to differentiate it from byte array, therefore it's not possible to map to a CLR type.

[2017-11-27 13:46] #259 closed

[2017-11-27 14:35] #254 closed

[2017-11-27 16:34] #269 closed

[2017-11-27 22:14] macalbert commented on #274
Hi @aloneguid great shortening of the test, but you must check **ds1** object instead of **ds**. And if you check **ds1** the test continues failing

[code]

[2017-11-27 22:32] aloneguid commented on #274
My bad, schoolboy error)

[2017-11-27 23:06] aloneguid commented on #274
released hotfix as v2.0.1, hopefully this is fixed, passes all tests on my side ;)

[2017-11-27 23:09] #268 closed

[2017-11-28 07:27] macalbert commented on #274
It's seems to be ok. Nice job @aloneguid!! ;)

[2017-11-28 08:09] #274 closed

[2017-11-29 00:11] macalbert opened #275 "Negative decimals when forceByteArrayEncoding is set to true"
**Version:** Parquet.Net v2.0.1

I'm using parquet.net to storage data on S3, and after I'm using [redshift spectrum](https://aws.amazon.com/redshift/spectrum/?nc1=h_ls) to make queries over this data.

To using decimals on redshift spectrum, I need to set **forceByteArrayEncoding** to **true**, otherwise an error like the following will be raise.

[code]

But when I'm using a decimal where **forB

[2017-11-29 21:29] aloneguid commented on #275
I can confirm Apache Spark reads it as 1.56 as well, seems to be serious.

[2017-11-30 10:32] aloneguid commented on #275
I sort of got to the bottom of it. The problem is that Java and C# uses different implementations of byte array conversion to/from `BigInteger` which is used internally for decimal encoding:

https://docs.oracle.com/javase/7/docs/api/java/math/BigInteger.html#toByteArray()

https://msdn.microsoft.com/en-us/library/system.numerics.biginteger.tobytearray(v=vs.110).aspx

The different is mostly endia

[2017-11-30 12:52] macalbert commented on #275
Maybe this can help? [https://stackoverflow.com/a/36701951/541877](https://stackoverflow.com/a/36701951/541877)

[2017-11-30 12:58] aloneguid commented on #275
Thanks, but that's how we do it at the moment, so positive values are encoded properly. The problem is that BigInteger is encoded into a fixed byte array, so let's say we're encoding `-1.2` with precision 10 and scale 2:

- the output buffer has to be 5 bytes
- the value encodes to 1 byte [136]

therefore the output is [0, 0, 0, 0, 136]. But, for some reason parquet-mr doesn't think it is. There m

[2017-11-30 13:00] aloneguid commented on #275
@xhochy I wonder if you've got a nice hint for us ;)

[2017-11-30 13:12] macalbert commented on #275
And this ? [https://msdn.microsoft.com/en-us/library/system.numerics.biginteger.aspx](https://msdn.microsoft.com/en-us/library/system.numerics.biginteger.aspx#Remarks)

[...]
The BigInteger structure assumes that negative values are stored by using two's complement representation. Because the BigInteger structure represents a numeric value with no fixed length, the BigInteger(Byte[]) constructor a

[2017-11-30 13:25] macalbert commented on #275
Perhaps this class can help to reverse the bytes: [BitConverter Class](https://msdn.microsoft.com/en-us/library/system.bitconverter(v=vs.110).aspx)

`If systems sending and receiving data can have different endianness, always transmit data in a particular order. This means that the order of bytes in the array may have to be reversed either before sending them or after receiving them. A common conv

[2017-11-30 18:05] aloneguid commented on #275
@macalbert unfortunately that's not the case - it's a question what to put in extra bytes. When you set precision in bigdecimal the buffer size for number is fixed, the question is what to put in bytes which are not used, that's where reader gets confused.
Parquet.Net reads negative decimals with no problem, just confirmed.

[2017-11-30 18:11] aloneguid commented on #275
When I write value `-1` with Spark in legacy mode with precision 38 and scale 18 i get the following byte buffer back:

`[255, 255, 255, 255, 255, 255, 255, 255, 242, 31, 73, 76, 88, 156, 0, 0]` (need to be reversed for C#'s BigInteger). Not sure how this comes out.

[2017-12-01 09:23] aloneguid commented on #275
Managed to force Spark to write precision 10 and scale 2, for value -1 we get `[255, 255, 255, 255, 156]` which is a bit odd. I think byte 255 is written to keep the negative bit on `1000 0000` but why `156` is there for -1?

[2017-12-01 09:30] aloneguid commented on #275
Got it, -1 is written as -100 (scale is 2). Therefore in binary it's `0001 0100 (28)`. Adding negative bit we get `1001 0100` which is 156.

[2017-12-01 09:54] aloneguid commented on #275
All good now:

[code]

is read by Spark as:

[code]

[2017-12-01 10:02] aloneguid commented on #275
Released as hotfix in v2.1.1, please reopen if it still doesn't work ;)

[2017-12-01 10:02] #275 closed

[2017-12-01 11:43] macalbert commented on #275
Thanks @aloneguid!! Tested in redshift spectrum and reads it as -1!

[2017-12-06 12:28] aloneguid opened #276 "Cannot extract structs in rows"
Throws `System.NotImplementedException: 'extracting Struct columns'` when trying to enumerate rows with structs (sample file exists).

[2017-12-06 12:39] aloneguid opened #277 "Cannot convert JSON arrays which have null values"
Fails with exception `cannot convert JValue to JArray`

[2017-12-06 13:20] aloneguid opened #278 "Add DataField constructor accepting CLR Type"
There is `DataField<T>` generic one, but `DataField` doesn't accept non-generic one.

[2017-12-06 14:51] #276 closed

[2017-12-06 14:51] #278 closed

[2017-12-06 14:51] #277 closed

[2017-12-08 00:37] aloneguid opened #279 "Optional Dictionary Encoding"
Strings are no longer tried to be encoded with dictionary encoding, enabling this back may improve efficiency.

[2017-12-08 00:46] aloneguid opened #280 "Add statistics for encoded column metadata"
To allow efficient query in spark and other clients.

#279 will probably depend on this.

[2017-12-11 14:49] aloneguid opened #281 "Read Row Groups"
At the moment reader abstracts from internal format completely which is a nice thing. However, you might want to read data in physical batches i.e. row group chunks for speed.

[2017-12-11 15:54] GKallarackal opened #282 "Thrift.Protocol.TProtocolException: 'don't know what type: 13' Exception on read"
**Version:** Parquet.Net v2.1.1

#### Expected behavior
Simple Parquet file created and then read back successfully.

#### Actual behavior
An error is encountered on line:
 **dsread = reader.Read()**

The exception is

**Thrift.Protocol.TProtocolException: 'don't know what type: 13'**
### Steps to reproduce the behavior

Run method below.

#### Code snippet reproducing the behavior

[code]

- [Dem

[2017-12-11 16:18] aloneguid commented on #282
@GKallarackal exactly same code works for me, can you try absolute file path or just make sure that directory exists?

[2017-12-11 16:24] GKallarackal commented on #282
Hi

Thanks for the quick response. The file reading and writing is fine that is
not the problem.

Which version of the .Net Framework are you using? I realise I am using
4.5.2.

Regards

George

On 11 December 2017 at 16:18, Ivan Gavryliuk <notifications@github.com>
wrote:

[2017-12-11 16:29] GKallarackal commented on #282
Problem solved when I changed to 4.6.1.

Regards

George

On 11 December 2017 at 16:23, George Kallarackal <gkallarackal@gmail.com>
wrote:

[2017-12-11 16:39] aloneguid commented on #282
@GKallarackal good point, we're running integration tests only under .NET Core 1.1 at the moment. Ideally should be running on several targets.

[2017-12-11 16:43] GKallarackal commented on #282
Actually, the use case I have is trying to create files for AWS Athena and
I am struggling to create examples that work in Athena with Double or
Decimal data types.

Should I change to .net core 1.1?

On 11 December 2017 at 16:39, Ivan Gavryliuk <notifications@github.com>
wrote:

[2017-12-11 16:46] aloneguid commented on #282
@GKallarackal framework doesn't matter much, but there is a known issue with Athena and decimal types when it doesn't support decimals according to specs. You should  use `DecimalDataField` and set `forceByteArrayEncoding` to true to be readable by Athena/Impala.

[2017-12-11 16:47] GKallarackal commented on #282
Great thanks will give that a go.

George

On 11 December 2017 at 16:46, Ivan Gavryliuk <notifications@github.com>
wrote:

[2017-12-11 16:49] GKallarackal commented on #282
Is there a similar issue with Double?

On 11 December 2017 at 16:47, George Kallarackal <gkallarackal@gmail.com>
wrote:

[2017-12-11 16:49] aloneguid commented on #282
No, decimals only ;)

[2017-12-11 16:56] GKallarackal commented on #282
I have used code below to create file.

private void CreateFilesTest2()
{
    DataSet ds = new DataSet(new DecimalDataField("ElementID1", 38, 15,
true));
    Random r = new Random;
    ds.Add((decimal)1.23);
    Directory.CreateDirectory("..\\..\\outputs\\Test2\\");
    WriteFile("..\\..\\outputs\\Test2\\SimpleTest.parquet", ds);
    ds.Clear();
}

Then run this on Athena

CREATE EXTERNAL TABLE IF

[2017-12-11 17:35] aloneguid commented on #282
I'm not sure to be honest. Well have a look. It may take some time as AWS Athena team is not very responsive)

[2018-01-03 21:54] we7313 commented on #270
AddRange Method still seems to be unavailable in 2.20 preview.

[2018-01-05 10:38] aloneguid commented on #270
@we7313 i'll reopen it for now.

[2018-01-10 12:23] aloneguid opened #284 "Fix appending to DataSets containing a MapField column"
Equality checking for MapFields fell back to the default Object equality
checker, causing a mismatch between the schemas of any datasets that
contained a MapField. Added equality checking to MapFields.

[2018-01-10 12:38] #284 closed

[2018-01-10 12:42] aloneguid opened #285 "Support maps as values of maps"
v2.1.2 does not allow to add a map as a value of another map value.
This seems to be more complicated that I thought. We use reflection to create a dictionary of key to value, which are primitive CLR types for now. Need to figure out how to do this with complex types like maps.

[2018-01-10 12:47] aloneguid opened #286 "Serialize a class into Parquet"
This would allow to map a POCO entity to a Parquet file.

- [x] take a POCO and infer a Parquet schema
- [x] get a batch of POCO instances and generate Parquet data

We could use [Sigil](https://github.com/kevin-montrose/Sigil) to get some performance boost as reflection is dead slow for these kinds of things.

[2018-01-25 11:47] mathanrajendran opened #287 "Parquet supporting nullable DataTime, Double etc - for DataLake USQL usage"
**** Parquet.Net v2.1.1

#### Expected behavior

Nullable DateTime Types

#### Actual behavior

Null point reference for [System.DateTime]

### Steps to reproduce the behavior

1. USQL - Create a csv file with Datetime value as null and  read it( Data Lake allows DateTime?)
2. Writing it to Parquet should allow me to write the output as it is from input.

[2018-01-26 20:34] aloneguid commented on #287
Hi. Isn't this related to adla project?

[2018-01-31 06:50] dimpalbhole commented on #138
@aloneguid I am still facing this issue.
Error is {"fatal error reading column 'SN'"} and message is fatal error reading column 'SN'.
I have set TreatByteArrayAsString = true .

[2018-01-31 08:45] dimpalbhole opened #288 "Error in Parquet reader"
I am getting an error while using parquet reader.
Error is {"fatal error reading column 'SN'"} and message is Unable to read beyond the end of the stream.
I have set TreatByteArrayAsString = true .

My code is:
 var options = new ParquetOptions { TreatByteArrayAsString = true };
DataSet ds = ParquetReader.Read(fs, options, null);

[2018-01-31 12:45] aloneguid commented on #288
Hi @dimpalbhole , is there a sample file I can use to reproduce this?

[2018-01-31 19:36] aloneguid commented on #288
Closing as there is no information to reproduce.

[2018-01-31 19:36] #288 closed

[2018-01-31 19:37] aloneguid commented on #287
Closing as not related to parquet library.

[2018-01-31 19:37] #287 closed

[2018-01-31 20:32] aloneguid commented on #138
@dimpalbhole can you raise an issue with all details include so we can have a look?

[2018-02-01 05:13] dimpalbhole opened #289 "issue with parquet reader"
[parquetSample.zip](https://github.com/elastacloud/parquet-dotnet/files/1684256/parquetSample.zip)
I am getting an error while using parquet reader.
Error is {"fatal error reading column 'SN'"} and message is Unable to read beyond the end of the stream.
I have set TreatByteArrayAsString = true .

My code is:
var options = new ParquetOptions { TreatByteArrayAsString = true };
DataSet ds = ParquetRe

[2018-02-01 09:20] dimpalbhole commented on #289
Are you able to reproduce the issue?

[2018-02-01 13:32] aloneguid commented on #289
@dimpalbhole just looking at this now.

[2018-02-01 13:44] aloneguid commented on #289
Hi @dimpalbhole. Absolutely no issues on my side so I'm closing this. You might want to reopen the issue with details suggested when you create a new issue, otherwise it will be a long guesswork.

[2018-02-06 08:35] dimpalbhole commented on #289
forgot to add one thing. I am reading a blob using  ParquetReader.Read(fs, options, null).
where fs is
Stream fs = (MyAzureBlob).OpenRead()

[2018-02-06 09:24] aloneguid commented on #289
@dimpalbhole which .net runtime/version are you using and which parquet.net library version?

[2018-02-06 09:34] dimpalbhole commented on #289
@aloneguid .Net version is 4.5.2 and parquet library is  v4.0.30319 runtime version and 2.1.2(installed version)

[2018-02-07 10:00] dimpalbhole commented on #289
Are you able to reproduce this issue?

[2018-02-07 21:44] aloneguid commented on #289
@dimpalbhole non still can't reproduce it, maybe you can attach a sample project here?

[2018-02-08 05:43] dimpalbhole commented on #289
Have you tried uploading that file as a azure blob?

[2018-02-09 15:37] aloneguid commented on #289
@dimpalbhole I'm not quite sure what azure blob has to do with parquet.

[2018-02-09 15:46] dazfuller commented on #289
@dimpalbhole I've just created a simple console app which reads a parquet file from Azure Blob as a stream in the same way you are doing and it's working okay.

https://gist.github.com/dazfuller/ffedb2ed17a1977ce56c2aac13b7896c

Are you able to read the entire file and save to disk (excluding the reading as Parquet part). Just wondering if this is a network related issue.

[2018-02-09 15:55] dimpalbhole commented on #289
Have you tried with the file which i have shared? Because i am getting this
issue only with this file, other files in the same container are getting
read.If a save this file to the local disk then i am able to read this.

On Feb 9, 2018 9:16 PM, "Darren Fuller" <notifications@github.com> wrote:

[2018-02-09 16:08] dazfuller commented on #289
Okay, using that file (sorry, read straight past it originally) I can re-create the error with the following from the internal stack

[2018-02-09 16:13] aloneguid commented on #289
@dimpalbhole @dazfuller when you use `blob.OpenRead()` and start start reading the stream as parquet it's not fully downloaded from blob storage yet therefore this error. Parquet needs to read the file footer before anything else, so if you're in the middle of the file it's not the right data.

[2018-02-09 16:33] dazfuller commented on #289
I think with smaller files this works fine as it's downloaded in full prior to read (I've can get it to work anyway), but with the larger files it's as per @aloneguid says.  I've updated that Gist to work with downloading the file into a local byte array before reading and that works with the same file you've provided.

[2018-02-13 13:53] aloneguid commented on #289
Closing this as not a parquet issue.

[2018-02-13 13:53] #289 closed

[2018-02-13 14:04] edwinloubser opened #290 "Nullable MapField and StructField"
Hey,

From what I can tell null values for the MapField and StructField are not allowed.  Is there a way to work around this?

Example of schema I have:
var schema = new Field[]
				{
					new DataField<ushort>("Version"),
					new DataField<long>("EventId"),
					new DataField<long>("EventTypeId"),
					new ListField("EntityIdentifiers", new StructField("item", new DataField[]
					{
						new Da

[2018-02-14 10:46] aloneguid commented on #290
You're right, it's not supported yet. It shouldn't be too hard to implement though.

[2018-02-15 08:01] edwinloubser commented on #290
Thanks for the feedback. I've worked around it for now, but would be great if this could be implemented as I think it is a common scenario.

[2018-02-15 17:19] aloneguid opened #291 "Infer basic schema from a POCO class"
For simple POCOs it would be beneficial to infer schema from the class type definition. Even if this is only working for the first-level primitive types.

[2018-02-15 18:10] aloneguid commented on #290
@edwinloubser i'll be looking at this over next few days.

[2018-02-16 09:15] aloneguid commented on #282
@GKallarackal is this still an issue?

[2018-02-16 09:33] aloneguid commented on #290
@edwinloubser i think it's fixed, you can try by referencing `2.2.0-preview-268` from this NuGet feed https://ci.appveyor.com/nuget/parquet-dotnet. If it works for you i'll release it ;)

[2018-02-16 09:47] GKallarackal commented on #282
I was not able to resolve it so yes. I moved forward by storing data as
strings but that is far from ideal.

George

On Fri, 16 Feb 2018, 09:15 Ivan Gavryliuk, <notifications@github.com> wrote:

[2018-02-16 11:26] aloneguid commented on #282
@GKallarackal sorry I've got a slight problem with AWS as I don't have a test environment for this. Unfortunately AWS doesn't always follow parquet standard, we've seen this many times, therefore these issues. I'll try to arrange something soon.

[2018-02-16 15:30] edwinloubser commented on #290
@aloneguid Thanks! Will try it out on Monday and let you know.

[2018-02-18 10:22] aloneguid opened #292 "Parquet.Json can be deprecated"
Once parquet can be mapped to classes there is no need for JSON library as classes can be simply serialised/deserialised into JSON.

[2018-02-19 11:23] edwinloubser commented on #290
@aloneguid Tried out the Preview and I'm still getting an exception.  The exception occurs when trying to add the Row to a DataSet.   Here is the StackTrace:

   at System.ThrowHelper.IfNullAndNullsAreIllegalThenThrow[T](Object value, ExceptionArgument argName)
   at System.Collections.Generic.List`1.System.Collections.IList.Add(Object item)
   at Parquet.Data.RowAppender.Append(Dictionary`2 colum

[2018-02-19 23:14] renyuan1010 opened #293 "Support controlling row group byte size when writing"
Current implementation of RowGroupSize in WriterOptions is the number of row. Very useful to support controlling the actual byte size of a row group.

[2018-02-19 23:19] aloneguid commented on #293
This is slightly complicated due to the fact that we don't know exactly what the data size will be after logical and physical compression. Although next major version will have much more control over this.

[2018-02-21 13:54] #292 closed

[2018-02-21 13:55] aloneguid commented on #292
still required, my bad

[2018-02-26 07:34] aloneguid commented on #290
did you use exactly `2.2.0-preview-268`?

[2018-02-26 07:37] edwinloubser commented on #290
I did use exactly that version.

[2018-02-26 09:38] aloneguid commented on #290
@edwinloubser can you provide shortest possible code to reproduce this please?

[2018-03-02 01:03] dwaijam opened #294 "Support .NET 4.5 and up"
#### Expected behaviour
Parquet.Net currently supports .NET 4.5 and up. This will allow it to be used by projects targeting.Net 4.5

#### Actual behavior
Parquet.Net currently supports .NET 4.5.1 and up. However, it can be changed to support .Net 4.5 and up with some minor refactorings without any loss of functionality.

### Steps to reproduce the behaviour

Add Parquet.Net dependency to  .Net pro

[2018-03-02 09:05] aloneguid commented on #294
@dwaijam I'm not sure if any api is missing from .net 4.5 to be honest. I'm happy for you to take this.

[2018-03-03 00:00] dwaijam opened #296 "Upgrade visibility of certain classes, enums, methods and properties for a custom parquet reader implementation"
#### Expected behavior

Certain classes, enums, methods and properties are required to be used if a custom Parquet Reader class needs to be implemented. Some of them are as follows
Thrift/FileMetaData.cs
Thrift/ColumnChunk.cs
Thrift/RowGroup.cs
Parquet/ParquetActor.cs
Parquet/File/ThriftFooter.cs
Parquet/Data/Schema/Field.cs
Parquet/Data/Schema/MapField.cs
Parquet/File/Values/Primitives/Interval.c

[2018-03-03 00:38] dwaijam commented on #296
Added PR for the change I am suggesting
https://github.com/elastacloud/parquet-dotnet/pull/297

[2018-03-07 23:42] dwaijam opened #298 "Implement a Streaming Parquet Reader"
#### Expected behaviour

ParquetStreamReader returns IEnumerator<Row> which allows a user to move through each row without having to load the whole dataset in memory

#### Actual behavior

Currently, ParquetReader's Read method reads the whole dataset in memory and returns it which does is not appropriate for large files

#### Discussion
As discussed in https://github.com/elastacloud/parquet-dotne

[2018-03-08 20:07] dwaijam commented on #298
Yes, that is correct but this was a quick implementation, I would have to cache the column chunk for each row group before iterating through each row and doing the yield. In that case, I am caching a row group in memory which actually becomes similar to existing Read method.

So if the Read method can be used for paging by passing different offset and count values, I think the validations and sche

[2018-03-08 20:50] dwaijam commented on #298
I have updated https://github.com/dwaijam/parquet-dotnet/pull/2/files with the changes I am suggesting.
Also when I am paging what would be the optimum count to pass through ReaderOptions? If it is the size of a row group then that value should be exposed somehow. Right now there is no way to know the number of row groups or a row group size

[2018-03-09 00:29] mandyshieh commented on #296
PR #300 for limited changes.

[2018-03-14 18:33] dwaijam commented on #294
Closing this issue as changes have been merged

[2018-03-14 18:33] #294 closed

[2018-03-17 16:49] adelkkhalil opened #303 "InferSchema Method modify IEnumerable<JObject> input"
**Version:** Parquet.Net v2.1.2
**Runtime Version:** .Net Core v2
**OS:** Windows

#### Expected behavior
InferSchema should infer the schema but he input files should not be modified.

#### Actual behavior
Passing two JObject IEnumerable<JObject> input copies the first one to the second, ending up with two idential jobjects.

Here is my code

#### Code snippet reproducing the behavior

[code]

[2018-03-30 23:19] aloneguid commented on #296
released to nuget as v2.1.3

[2018-03-30 23:19] #296 closed

[2018-03-30 23:19] aloneguid commented on #303
Do you mind raising a PR to fix this?

[2018-04-04 22:53] #298 closed

[2018-04-26 18:58] 0x0L opened #304 "Can't load parquet file generated with fastparquet"
**Version:** Parquet.Net git master
**Runtime Version:** .Net Framework v45
**OS:** Windows

First of all, thanks for this project.

I generated some sparse data

[code]

Parquet.Net can't read back that file, the process gets stuck.

[2018-04-26 20:17] aloneguid commented on #304
Can you attach a sample generated file here?

[2018-04-26 20:58] 0x0L commented on #304
see https://github.com/0x0L/temp

[2018-04-27 20:05] 0x0L commented on #304
Actually it's a performance issue. The file was read in the end but it took 1min for a million row.

[2018-04-28 19:10] 0x0L commented on #304
Financial data, lots of NaNs.

I just finished writing a fix for this:

Moved `InsertDefinitions` to `IDataTypeHandler` and changed signature to

[code]

`BasicDataTypeHandler` gets the normal `InsertDefinitions` implem.

`BasicPrimitiveDataTypeHandler` gets an optimized version using arrays an preallocating.

and finally, null can be encoded as nan for doubles, `DoubleDataTypeHandler` also gets i

[2018-05-04 15:37] aloneguid commented on #304
@0x0L sounds good, please raise a PR ;)
Do you need to generate schema dynamically or is it pre-defined? I'm working on low level serialiser which can turn any data structure into parquet stream and back, that's the reason i'm asking ;)

[2018-05-04 18:10] 0x0L commented on #304
Interesting! That's somehow the problem I'm trying to solve too but for a much narrower scope (only plain pandas-like dataframes and I'm currently only interested in reading it from C# side). Ideally I want to match fastparquet.to_pandas performances.

I'm not really happy with this yet, it's only a quick a dirty patch and it's still unable too read my big parquet files. It's available at https://

[2018-05-31 06:35] yifatso opened #305 "Bug in BooleanDataTypeHandler"
#### Actual behavior

Boolean types are not serialized correctly (see suggested code change in BooleanDataTypeHandler).

### Steps to reproduce the behavior

Write and read a type with boolean values.

#### Suggested bug fix
Write method in BooleanDataTypeHandler.Write method only advances the 'n' variable cursor on 'true' values. Suggested fix - instead of:

            if (flag)
            {

[2018-05-31 18:43] georgiosd commented on #20
Can you please explain what would be necessary for async support?

[2018-05-31 19:04] georgiosd opened #306 "Can't write in append mode"
**Version:** Parquet.Net 2.1.3
**Runtime Version:** .Net Framework 4.7.2
**OS:** Windows

#### Expected behavior

I can continuously write datasets with append mode.

#### Actual behavior

I can't figure out how to do it and I get exceptions.

`FileMode.Create` gives `System.IO.IOException: 'An attempt was made to move the file pointer before the beginning of the file.`

### Steps to reproduce the

[2018-05-31 19:18] georgiosd commented on #306
Ok, looks like it works if I re-open the file every time I want to write.

i.e.
[code]

Is there no way to keep the file open and write stuff?

[2018-05-31 19:48] aloneguid commented on #20
@georgiosd I'm not quite sure at the moment. We need to decide what's the most effective way to apply Async inside the library. Marking all I/O operations with Async will actually make it slower as there are a lot of micro reads happening on low level which at the moment is using standard .net memory buffers. Every Async call introduces a delay for Async state machine context switching, therefore

[2018-06-01 18:30] aloneguid commented on #20
I don't seriously have statistics and will only rely on your feedback) having some decent stats will involve data collection which is hard to do legally from a library. Most of our own projects write massive amounts of data and this is done via constant append operations. We just keep the steam open and keep calling write method with next chunk of data. What's your use case?

[2018-06-01 19:30] georgiosd commented on #20
Same as yours but my code snippet doesn't seem to work.

Can you share an example?

[2018-06-04 16:16] #306 closed

[2018-06-05 14:49] Stuey2 opened #309 "Feature Request: Read row metadata more easily"
It would be great if there was a way of reading row metadata, without reading the whole file. The request is to:

Expose some way of accessing metadata about the file without reading the whole thing into a dataset.

This could be as simple as exposing a method for querying the Thrift.FileMetaData AND OR a bit more complex, such as some ParquetReader / ParquetWriter overloads that populate some met

[2018-06-07 11:57] aloneguid commented on #20
@georgiosd yes sure, you can find examples in https://github.com/elastacloud/parquet-dotnet/blob/master/src/Parquet.Test/ParquetWriterTest.cs in tests starting with "Append_". We are working on a better write streaming support in major V3, I hear you ;)

[2018-06-07 12:18] aloneguid commented on #305
@yifatso released as 2.1.4, thank you!

[2018-06-07 12:18] #305 closed

[2018-06-07 12:37] aloneguid commented on #309
@Stuey2 totally support this, it's not on a roadmap yet however will be coming at some point.

[2018-06-21 19:22] mlmanfredi opened #311 "ParquetWriter.WriteFile ignores the append parameter"
**Version:** Parquet.Net v2.1.4
**Runtime Version:** .Net Framework v4.7.1
**OS:** Windows 7

#### Expected behavior

When the append parameter is true, the data being written should be added to the existing data in the file.

#### Actual behavior

Regardless of the append parameter value, the current file data is overwritten. The WriteFile function code does nothing with the append parameter.

##

[2018-06-27 07:33] dashtimehran opened #312 "library does not support timstamp logical type"
This library does not support timestamp logical type that is encoded to physical type of  int64 .
Is it any plan to support it in a few days.
thank you in advance.

[2018-06-28 19:06] liuyu81 opened #313 "Merge into an empty dataset throws `KeyNotFoundException`"
**Version:** Parquet.Net v2.1.4
**Runtime Version:** .Net Core v2.1 etc.
**OS:** macOS v10.13.5

#### Expected behavior

Merging a `DataSet` (`B`) into another `DataSet` (`A`) should result in `A` containing all the data of `B`. Regardless whether `A` is empty or non-empty.

#### Actual behavior

`A.Merge(B)` throws `KeyNotFoundException` when (1) `A` is empty, and (2) `B` is non-empty, where `A`

[2018-07-03 13:42] aloneguid commented on #312
@dashtimehran just to be clear which one are you looking for? https://github.com/apache/parquet-format/blob/master/LogicalTypes.md

It's not in the plans to extend types in the nearest weeks as we're busy with V3, however I'll be happy to approve a PR if you're comfortable contributing to the library?

[2018-07-18 06:14] dashtimehran commented on #312
I 'm busy these days. If I've got some time I will let you know.

[2018-07-19 01:30] aloneguid commented on #303
We've dropped support for JSON integration in V3 because it now has object serialisation support. Let me know if this is still relevant.

[2018-07-19 01:30] #303 closed

[2018-07-19 01:31] aloneguid commented on #293
@renyuan1010 latest V3 supports controlling row group sizes. Feel free to reopen if it's not suitable.

[2018-07-19 01:31] #293 closed

[2018-07-19 01:31] #290 closed

[2018-07-19 01:32] #20 closed

[2018-07-19 01:33] aloneguid commented on #257
closing as it's supported in `ParquetReader` already

[2018-07-19 01:33] #257 closed

[2018-07-19 01:33] aloneguid commented on #270
Closing as not relevant for V3 anymore.

[2018-07-19 01:33] #270 closed

[2018-07-19 01:34] #291 closed

[2018-07-19 01:34] aloneguid commented on #286
done in V3

[2018-07-19 01:34] #286 closed

[2018-07-19 01:34] aloneguid commented on #281
done in V3

[2018-07-19 01:34] #281 closed

[2018-07-19 01:35] #285 closed

[2018-07-21 10:43] adelkkhalil commented on #303
Thanks

[2018-07-21 10:49] Sudhir87 opened #314 "Path Separator issue"
**Version:** Parquet.Net v...
**OS:** Windows

#### Expected behavior

The file should get read in the viewer.

#### Actual behavior

I would like to understand what are the special characters used for path separator as I am getting the below error? Attaching the column list for your reference.
![image](https://user-images.githubusercontent.com/41491841/43034807-063eec38-8d01-11e8-887b-54e3c9f8669

[2018-07-21 11:52] dguidara opened #315 "Snappy compression writer fails on certain encodings"
**Version:** Parquet.Net v...
**Runtime Version:** .Net Framework v, .Net Core v etc.
**OS:** Windows/Linux v

#### Expected behavior

When I call      Schema schema = ParquetConvert.Serialize(structures, ms);
and the later on call
            SimpleStructure[] structures2 = ParquetConvert.Deserialize<SimpleStructure>(ms);
I expect the objects to round trip correctly.

#### Actual behavior

I inst

[2018-07-21 11:58] dguidara commented on #315
Seems to be an issue with just Snappy compression.

     [Theory]
      [InlineData(CompressionMethod.None)]
      [InlineData(CompressionMethod.Gzip)]
      [InlineData(CompressionMethod.Snappy)]
      public void All_compression_methods_supported_string(CompressionMethod compressionMethod)
      {
         const string value = "test";
         object actual = WriteReadSingle(new DataField<string

[2018-07-21 20:15] im281 opened #316 "Write multi-part parquet files"
Is there support for writing multi-part files (See attached

[2018-07-23 07:42] aloneguid commented on #314
Hi @Sudhir87. Only dot (.) is not allowed in field name, as apache parquet format uses it as field path separator for complex structures.

[2018-07-23 07:43] aloneguid commented on #316
Multi-part as multiple row groups?

[2018-07-23 08:41] aloneguid commented on #315
thanks @dguidara I can reproduce this now, investigating a fix

[2018-07-23 09:35] #313 closed

[2018-07-24 00:33] im281 commented on #316
` import os
from pathlib import Path
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ConvertJSonTOParquet").config("spark.master", "local[*]").getOrCreate()

pathList = Path(f"C:/Users/Dell-5510/Desktop/Tea_Iman/parquet").glob('**/*.json')
parquetFolder = f"data/parquet"

for file in pathList:
    scans = spark.read.json(str(file))
    # Write parquet
    fileName = os.p

[2018-07-24 00:35] im281 commented on #316
The above reads a json file and writes it to parquet

[2018-07-24 01:08] tpeplow commented on #315
I see this too, this reproduces the issue (if you use None or Gzip it works)

[code]

[2018-07-24 12:34] aloneguid commented on #315
We're experiencing this issue and it's a big pain, I'm all on it, please bear with me ;) Snappy library doesn't seems to be an issue, something Parquet library is doing is terribly wrong.

[2018-07-24 13:06] aloneguid commented on #315
Found the issue, the fix is coming today.

[2018-07-24 13:34] aloneguid commented on #315
This was due to the way paquet.net handles snappy streams. It would wrongly assume that when `.Flush()` is called for snappy, the stream is done, however certain encodings will call Flush internally, therefore result file would end up in partially completed snappy stream. The fix is available on NuGet as v3.0.1.

[2018-07-24 13:34] #315 closed

[2018-07-24 13:35] #314 closed

[2018-07-24 15:16] aloneguid commented on #316
@im281 as long as I understand this is something Spark does in order to paralellise reads further. Internally the data is first partitioned in multiple chunks because it's split between multiple physical workers, and then each worker writes it's own file. You can change that by calling to `items.repartition(1).write.parquet(...` however this slows down Spark a lot.

You can achieve the same with p

[2018-07-24 15:44] im281 commented on #316
ok thanks!

[2018-07-25 10:19] Confusedfish opened #318 "Reading parquet files with multiple pages doesn't read beyond 1st page"
**Version:** Parquet.Net v3.0.2

**Runtime Version:** .Net Core v 2.1.2

**OS:** Windows

#### Expected behavior

Reading a parquet file with a large number of rows should populate all pages of data. The file in question uses a dictionary on the column.

#### Actual behavior

When reading the data back from the ParquetReader, any records beyond the first page boundary all use the first record, i.e

[2018-07-25 12:41] aloneguid commented on #318
thanks again, released as v3.0.3 on nuget

[2018-07-25 12:41] #318 closed

[2018-07-25 13:13] Confusedfish commented on #318
Hi @aloneguid did you see my comment relating to a possible duplicate of this issue? (I am now not sure where my comment went) I am not sure if it is necessary to also make the [following change](https://github.com/Confusedfish/parquet-dotnet/commit/c17f2fbd6a8c9a7055e6c19394f4350f9f5ecd37), what do you think?

[2018-07-25 15:17] aloneguid commented on #318
@Confusedfish yes you're right! Would be brilliant to get some tests ready for reading multiple row groups. I think we might be missing something else.

[2018-07-25 15:58] aloneguid opened #320 "Cannot read schema where map elements are structures"
**Version:** Parquet.Net v3.0.3

**Runtime Version:** Net Core v2.0

**OS:** Windows

#### Expected behavior

Reading file schema with map where map key is a data column and map value is a structure should still succeed as specs allow this. Original schema:

[code]

#### Actual behavior

Throws

[code]

### Steps to reproduce the behavior
Create any file with this schema.

#### Code snippet reprod

[2018-07-25 15:59] #320 closed

[2018-07-25 16:06] aloneguid commented on #311
This is fixed in V3, please feel free to reopen if it still doesn't work.

[2018-07-25 16:06] #311 closed

[2018-07-25 18:14] aloneguid commented on #318
@Confusedfish no problem, thank you! ;) I've added tests that generate multiple row groups dynamically, after your changes. They all seem to pass therefore I didn't release a new version.

[2018-08-07 15:48] dzhang-quest opened #321 "A nullable field should support all-non-nullable values"
**Version:** Parquet.Net v3.0.4

**Runtime Version:** .Net Framework v4.6.1

**OS:** Windows 10 Version 1709

#### Expected behavior
a nullable field, `DataField<long?>("id")`, should support all-non-nullable values, `long?[] { 1, 2, 3 }`.

#### Actual behavior
An exception was thrown:
System.InvalidCastException : Unable to cast object of type 'System.Nullable`1[System.Int64][]' to type 'System.I

[2018-08-07 15:58] dzhang-quest commented on #321
If there is no null values in a nullable array, the following code will return the original array.
https://github.com/elastacloud/parquet-dotnet/blob/55f0cb7a0137bde433eb1a05bab35d63da7208de/src/Parquet/Data/DataColumn.cs#L106

When the array is passed to here
https://github.com/elastacloud/parquet-dotnet/blob/55f0cb7a0137bde433eb1a05bab35d63da7208de/src/Parquet/Data/BasicDataTypeHandler.cs#L74

t

[2018-08-07 18:07] 0x0L commented on #304
@aloneguid

Hi
I just noticed the huge perf improvements coming from your new implementation of DataColumns.
For `double` do you think it's necessary to keep double? instead of using double.nan ?

[2018-08-08 21:31] slogen opened #322 "Tests that rely on CSV file comparison fails in locales with commas reversed"
**Version:** Parquet.Net v2.1 (and git, master 0a153b092040ccaa7de001daf2cb2ed1b09e2d0d)

**Runtime Version:** N/A

**OS:** N/A

#### Expected behavior

I expected all Unit tests to pass.

#### Actual behavior

All 7 Unit tests in  Parquet.Test.Reader.TestDataTest all fail due to the same locale-dependent CSV parsing issue.

The applied parsing is not valid in all locales, as some locales have inv

[2018-08-08 22:17] aloneguid commented on #322
@slogen thanks for reporting this. I agree the parsing could be better, either better parsing or culture workaround should be added. Are you happy to raise a PR?

[2018-08-08 22:39] aloneguid commented on #304
@0x0L thank you, we worked hard on this, however still not happy with performance, there are plenty of ideas how to push it to the limits, unfortunately free time is limited ;) Array pooling in .NET seems to be an answer to GC pressure, however a few places in code need to be changed to work with pooled arrays instead of pre-allocated ones.

I'm not quite sure regarding null and NaN, it depends. N

[2018-08-09 10:49] slogen opened #324 "UUID is not Encoded [Feature Request]"
**Version:** Parquet.Net v2.1

**Runtime Version:** NA

**OS:** Windows/Linux NA

#### Expected behavior

I expected .NET Guid fields to be serialized as specified in https://github.com/apache/parquet-format/blob/master/src/main/thrift/parquet.thrift (16 bytes, big-endian)

#### Actual behavior

Guid fields are not serialized

### Steps to reproduce the behavior

1. Add a Guid and validation to `S

[2018-08-09 10:58] slogen commented on #324
I have attempted an initial implementation at https://github.com/slogen/parquet-dotnet/commit/757aa91aaee672aac2ec55b2348f132edbf70801.

It passes the tests (recovering the Guids). I will probably need a little support to make sure it follows practices and covers all corners

[2018-08-09 15:10] aloneguid commented on #322
@slogen thank you for contributing, looks good and all merged.

[2018-08-09 15:10] #322 closed

[2018-08-09 18:18] 0x0L commented on #304
double?[] are way slower than double[] because of all the boxing/unboxing (with netcore, it's roughly 5 times slower). NaN are part of IEEE 754 so AFAIK there's virtually no overhead and they are portable

[2018-08-09 18:39] aloneguid commented on #304
We can prototype it and see if it works?

[2018-08-09 19:32] 0x0L commented on #304
Sound good. I can give it a try if you want.
Do you have any large reference for performance testing ?

[2018-08-09 21:13] 0x0L commented on #304
Just reimplemented

[code]

I generated a file  11000 x 1000 with a single continuous band of nans in each column. Reading performance is only slightly better ~10%. We may gain a bit more by preinitializing the entire array to nan using some low level sys function.

In the end it looks more like a matter of convenience than pure performance

[2018-08-11 01:05] dzhang-quest commented on #321
@aloneguid I will do it soon.

[2018-08-12 01:42] dzhang-quest commented on #321
@aloneguid Could you review #325 ?

[2018-08-13 08:18] #321 closed

[2018-08-13 08:32] aloneguid commented on #321
@dzhang-quest all good, thank you. Pushing new version to nuget now.

[2018-08-13 08:37] aloneguid commented on #279
We're investigating this as a part of a bigger story around more efficient string compression.

[2018-08-13 08:45] aloneguid commented on #324
Hey @slogen just looked at your code and left some comments inline. It generally looks good, happy to help as much as I can to push this to PR ;)

[2018-08-17 21:23] zhiwenchong opened #326 "Documentation typo? groupWriter has no Write method"
**Version:** Parquet.Net v 3.0.5.

**Runtime Version:** .Net Framework 4.7

**OS:** Windows

#### Expected behavior
Documentation section "Writing Files" uses groupWriter.Write, a method which does not exist. Perhaps it is groupWriter.WriteColumn?

[code]

[2018-09-03 16:48] jaley opened #329 "V2/V3 questions"
Hi,

First up, thanks for your work on Parquet.NET. I'm working in the SwiftKey team at Microsoft in London and we use Parquet files very heavily here. I need to integrate with some other .NET-based systems so your work on this library looks super helpful.

I have questions about working with V2 and V3, which I'd ideally send to a mailing list for discussion, but I couldn't see one linked anywhere

[2018-09-04 12:54] AndyCross commented on #329
Hi James

V3 is a more true representation of the parquet specification in code. There are some exceptionally helpful helpers in there to abstract some of that (look at ParquetConvert) but we aim to give low level control in line with the parquet format specification.

I recommend using V3 - we use it everywhere internally at Elastacloud now, having moved away from V2.

Elastacloud provides commer

[2018-09-04 12:54] #329 closed

[2018-09-04 14:06] DMMDTOM opened #330 "Failure to read columns if data page is larger than it should be (supposably padded by Spark)"
Error reading double column.
I have attached the repro parquet.  I have a single column parquet which is erroring out when I try to read it (with the latest).

It has 1 row group, the first three pages are Plain_Dictionary and read right, the final page switches over to PLAIN THRIFT and fails.  If I switch the final page over to Plain-Dictionary (via breakpoints and moving executing code path) , i

[2018-09-05 13:38] igor-betin commented on #282
I got same problem - it's because AWS streams don't return all data, and ParquetReader always expectes that Stream.Read will return exactly number of bytes requested.
Here https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read?view=netframework-4.7.2 it says:

An implementation is free to return fewer bytes than requested even if the end of the stream has not been reached.
I encountered

[2018-09-05 13:41] igor-betin commented on #282
More precisely, it's because .Net HTTP treams (AWS being such case) return amount they currently read in their buffer.
I see that everywhere in the code Read is only called on streams once and returned number of bytes actually read is ignored.

[2018-09-05 13:45] igor-betin opened #331 "Streams that don't return all bytes requested fail on ParquetReader"
It's an overall comment on cases like issue 282:

I see that everywhere in the code Read is only called on streams once and returned number of bytes actually read is ignored.
Maybe in Java a stream is obligated to return all bytes request, but in .NET (see https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read?view=netframework-4.7.2) it's like this:
"An implementation is free to return

[2018-09-05 13:53] igor-betin opened #332 "ReaderOptions.Offset doesn't reduce number of bytes read by ParquetReader"
**Version:** . 2.1.3
NET Core 2.0, on both Linux and Window 10 machines

#### Expected behavior

We have very large files in Data Lake. Downloading them is not an option, so we provide Stream that supports seeking and download only portions requested by the reader.
We expect for {Offset=5000, Rows=1000} ParquetReader to skip the number of bytes the first 5000 rows use using Seek, and then read byt

[2018-09-05 14:01] igor-betin commented on #332
Can you please tell if it's possible at all or shouldn't we even try? If fixing this is possible we will fix and contribute

[2018-09-05 14:04] igor-betin commented on #331
A possible solution is to use Stream wrappers like this one:

        public override async Task<int> ReadAsync(byte[] buffer, int offset, int count, CancellationToken cancellationToken)
        {
            if (count > buffer.Length - offset)
                count = buffer.Length - offset;
            int totalRead = 0;
            while (true)
            {
                var read = await _str

[2018-09-05 20:36] wvaneck opened #333 "File open fails due to "ghost" records"
Hi,

My customer is generating parquet files using the fastparquet-python version 1.0.0 (build 111) api.

When opening the file through the parquet-dotnet api the file load fails, as the max record count is 2 "less" than the API has access to in the form of extra bytes, I just call it 2 Ghost records.

When opening the file attached of any file created by this Python API it crashes with:
Message:

[2018-09-06 15:32] AidasTruskauskas opened #334 "Issue reading Parquet via Impala"
**Version:** Parquet.Net version 3.05

**Runtime Version:** .Net Framework v4.6.1

**OS:** Windows 10

#### Generated Parquet file is not working with impala;
we should be able to query the file using Impala;

#### Actual behavior:
SELECT * FROM parquet in impala is not returning any records:

### Steps to reproduce the behavior

1) Parquet file was generated using parquet.net library (please find

[2018-09-11 01:09] aloneguid commented on #334
Confirmed this is an issue. Wasn't surfaced before as we mainly test with Java/Python libraries. Thanks @AidasTruskauskas

[2018-09-12 22:38] aloneguid commented on #326
fixed

[2018-09-12 22:38] #326 closed

[2018-09-13 09:12] aloneguid commented on #333
Seems to be fine with me, do you mind raising a PR for this?

[2018-09-13 09:13] aloneguid commented on #331
Good find, thank you! Do you mind raising a PR for this?

[2018-09-13 09:14] aloneguid commented on #304
Might be related to #334

[2018-09-17 17:12] igor-betin commented on #331
Yep, will do

[2018-09-18 15:27] denfromufa opened #335 "status of arrow support 🏹"
I recall some conversation from twitter about Arrow support and also some experiments in this repo. Is there any plan for this support yet? Also I understand that Apache Arrow prefers the development for new languages in their repo.

https://arrow.apache.org/docs/python/parquet.html

[2018-09-21 07:06] patrix1337 opened #336 "Issue reading column with multiple DATA_PAGE encodings."
**Version:** Parquet.Net v. 3.0.5

**Runtime Version:** .Net Framework v4.7.2

**OS:** Windows

#### Expected behavior

Data is returned correctly. Without missing values.

#### Actual behavior

Parquet.Net v. 3.0.5:
Only values from the first DATA_PAGE with PLAIN_DICTIONARY encoding are returned.
Following values from DATA_PAGEs with PLAIN encoding are overwritten in MergeDictionary().

(The beha

[2018-09-21 08:25] droppedcode opened #337 "DateTimeFormat is not handled properly"
**Version:** Parquet.Net v3.0.5

**Runtime Version:** .Net Framework v461

**OS:** Windows v10

#### Expected behavior

Reading a column with Thrift.ConvertedType.TIMESTAMP_MILLIS will use milliseconds and not seconds.

#### Actual behavior

Currently in OtherExtensions.cs the following methods use (Add/Total)Seconds and not Milliseconds in case of TIMESTAMP_MILLIS
      public static DateTime Fro

[2018-09-21 15:41] aloneguid opened #339 "Resurrect row-based utilities"
This issue is being worked on! Due to popular demand parquet.net will support row-based utilities for accessing/writing files. This will include support for complex types such as maps, lists, structs, arrays etc.

[2018-09-21 21:16] aloneguid commented on #335
Its definitely in the works, however it's hard to tell when we get any reasonable public beta that is more or less usable. There seems to be more interest in parquet support at the moment than Arrow, therefore it's a bit slow moving.

I'm personally still struggling to find a good use case for Arrow in .net ecosystem as this is not the first platform of choice in big data world, however could be b

[2018-09-22 15:10] xhochy commented on #335
One of the interesting use cases of Arrow for languages that are the major player in the big data world is to connect to this world with nearly no overhead. For example, I'm working myself currently on an JDBC<->Arrow interface in Python. There was a PR to the Arrow repo that provides a JDBC<->Arrow bridge in Java and we have a semi-working in-process (and fully working inter-process) bridge betwe

[2018-09-24 12:11] aloneguid commented on #332
Hi @igor-betin we're not looking at v2 support anymore, all the development is currently happening for v3 only. You might find that v3 already solves the issue, if not please reopen ;)

[2018-09-24 12:11] #332 closed

[2018-09-26 18:09] aloneguid opened #340 "Call for Action"
We have tons of issue planned for future, and it's hard to decide which one to work on first. You can help by [voting on them or adding your own suggestions](https://linkto.run/p/Z12ASJ33)

[2018-09-26 19:19] aloneguid commented on #333
Sure parquetsupport@elastacloud.com

[2018-09-27 17:49] wjrogers commented on #335
I am looking for a .NET implementation of Arrow, too. I have a large existing .NET codebase, and I would like to provide fast, efficient transfer of data to the Python world. Implementing an API over my existing code is a huge timesaver vs re-implementing all those queries and business logic in Python, but I'm currently stuck serializing to CSV or JSON. Pandas is encouraging use of Arrow, and I wa

[2018-10-02 21:15] aloneguid commented on #339
preview version is available on NuGet, it still needs a few bits to finish off though.

[2018-10-02 23:21] aloneguid commented on #334
@AidasTruskauskas the fix will be included in the upcoming 3.1 release. We are removing parameter from `writer.CreateRowGroup(rowCount)` completely and the count will be calculated internally for all parts.

[2018-10-03 14:28] aloneguid opened #341 "Convert parquet file to json"
Parquet core can implement fast conversion to json without third-party libs (it's doing similar thing at the moment with Row.ToString() overload).

Parq then can use this json to display nicely. If colorisation to be implemented, you can parse the json with newtonsoft.json first from global tool and then display the tokenised output.

Theres already a prototype for converting to oneline json in **

[2018-10-03 14:35] aloneguid commented on #335
@xhochy @wjrogers sounds really interesting. How do you see the moving parts interacting with each other, would you let's say deploy two processes in different runtimes and somehow connect them? Is there an alternative to Thrift RPC in Arrow (to define method calls between parties)?

[2018-10-03 14:38] aloneguid opened #342 "Add SourceLink support"

[2018-10-03 14:38] #342 closed

[2018-10-03 14:39] #334 closed

[2018-10-03 23:01] #339 closed

[2018-10-03 23:49] aloneguid commented on #304
@0x0L it looks like the file generated is not a parquet file. I think what happens here:

[code]
is pandas trying to use SNAPPY codec which is not available by default and generates garbage. However, if you choose compression explicitly and set it to gzip or uncompressed the generated file is perfectly readable i.e. both lines work:

[code]

[2018-10-03 23:50] #304 closed

[2018-10-03 23:51] aloneguid commented on #282
Closing as not an issue. The fact parquet is not streamable format is well known. You have to have file available on the node.

[2018-10-03 23:51] #282 closed

[2018-10-03 23:53] aloneguid commented on #309
@AndyCross it would be nice to expose this in parq as well.

[2018-10-03 23:54] #324 closed

[2018-10-04 07:44] AndyCross opened #344 "Parq help is borked"
Already fixed; wait for PR.

[2018-10-04 15:37] #344 closed

[2018-10-04 19:12] xhochy commented on #335
Nowadays there is Arrow Flight which builds upon grpc for calls between different process. If you want to do RPC between processes. You could use just any transport layer but the advantage of Flight is that it has some extensions on top of grpc that avoid copies of the heavy Arrow data. Spark for example passes Arrow between Scala-Spark and PySpark simply using their own custom network "protocol".

[2018-10-08 20:13] #340 closed

[2018-10-08 22:37] aloneguid opened #346 "Replace default ToString method to produce json"
In Table and Row classes

[2018-10-08 23:46] aloneguid commented on #341
It's almost ready but formatting is still a bit crap
![image](https://user-images.githubusercontent.com/3155189/46639219-cd80cc00-cb5c-11e8-804f-9482de185de9.png)

[2018-10-09 20:20] denfromufa commented on #335
@xhochy  i think your approach with jpype and arrow would make a lot of sense for pythonnet too:

https://github.com/pythonnet/pythonnet/issues/514

[2018-10-11 11:49] xhochy commented on #335
There is now a C# implementation for Apache Arrow: https://github.com/feyenzylstra/apache-arrow Have not yet had time to look into it.

[2018-10-11 12:38] #346 closed

[2018-10-11 12:38] #341 closed

[2018-10-15 21:41] aloneguid commented on #335
I think it's OK, has some good ideas around efficiency. It's far from being production ready though. I'm still struggling at the moment with a use-case, maybe it's the way I'm personally approaching a problem. Parquet.Net was created around a business case, and we don't have one at the moment with Arrow. Internally we can marshal data between python machine learning libraries and .NET runtime, how

[2018-10-16 06:58] xhochy commented on #335
For the Spark case, you could either look at the PRs by Bryan Cutler to (Py)Spark or the current work that is done for R<->Spark serialization in https://github.com/rstudio/sparklyr/pull/1611

[2018-10-17 05:26] heatonmatthew opened #348 "INT_16 and UINT_8 compatibility with AWS Athena"
**Version:** Parquet.Net v3.1.4

**Runtime Version:** .Net Core v2.1

**OS:** Windows

#### Expected behavior

I created a set of parquet files that included INT_16 and UINT_8 columns, imported them using AWS Glue and tried to query using AWS Athena.

Would expect that the Glue metadata would detect them as the correct INT_16 and UINT_8 types and Athena would query correctly.

(Note the files also

[2018-10-17 10:32] aloneguid opened #349 "Integration Tests with AWS Athena"
Athena uses https://hive.apache.org/javadocs/r1.2.2/api/org/apache/hadoop/hive/ql/io/parquet/serde/ParquetHiveSerDe.html in order to read parquet files.

[2018-10-17 18:04] SatyamG329 opened #350 "Adding extras to Parquet file"
**Version:** Parquet.Net 3.1.4

**Runtime Version:** .Net Framework v4.7 .Net Core 2.1

**OS:** Windows

#### Expected behavior

new feature request
- to have keyValue metadata present in ParquetFile (when writing new parquet file) or capability to add metadata to parquet file

#### Actual behavior
- no metadata is present in newly created parquet file

Please describe how **Parquet.Net** is behav

[2018-10-17 18:48] aloneguid commented on #350
This is relatively easy to add. We should also extend parq tool to view metadata.

Do you mind sharing a use case why metadata is useful?

[2018-10-17 20:15] SatyamG329 commented on #350
Thanks, this will be really useful if you can please add this functionality.
As the key-value in file metadata contains all column metadata in a wrapper struct. So in Impala we can create a table once, and refresh a table there onwards and this wrapper struct (key-value in file metadata) helps validates the existing table.
Hope this is useful.

[2018-10-18 11:16] aloneguid opened #351 "Limit number of rows printed by parq. By default only show the first 10 rows"
"convert" command output may be massive

[2018-10-18 17:20] aloneguid opened #352 "Have an option to specify GZIP compression level."
At the moment it defaults to 9 I believe, there should be an option to choose.

[2018-10-19 08:32] aloneguid commented on #330
I *think* I have a fix for this.

[2018-10-19 08:57] aloneguid commented on #330
This will be included in the next minor bugfix release.

[2018-10-19 09:18] aloneguid opened #353 "Migrate to Azure Pipelines"
We can run multi-OS tests much easier than with AppVeyor.

[2018-10-19 14:38] DMMDTOM commented on #330
Awesome!  Thank you.

[2018-10-19 14:43] aloneguid commented on #350
Just so we are on the same page, are you expecting the schema metadata to be generated by parquet.net (like for instance Spark embeds it's own custom JSON schema, i'm not quite sure if it's used by anything else than Spark itself) or you are expecting to be able to add arbitrary metadata yourself from code?

[2018-10-19 14:45] aloneguid opened #354 "Migrate writer streams to memory buffers"
As seen with readers, using memory buffers is preferable for speed reasons. They don't consume a lot of RAM (buffer per column chunk) so making a lot of calls to streams, even buffered streams, introduces a lot of overhead.

[2018-10-19 15:34] aloneguid opened #355 "Parq "meta" command"
Show general file statistics:
- number of rows
- custom metadata
- number of row groups
- columns
- etc.

[2018-10-19 16:30] kaylangan commented on #353
I'm a Program Manager on Azure Pipelines. Let me know if you have any questions or suggestions. I'm happy to help!

[2018-10-19 19:29] aloneguid commented on #351
Ready for release

[2018-10-22 08:41] SatyamG329 commented on #350
Hi, yes you are correct.
After further studies, I've learnt custom JSON schema is not that useful.
Thanks for all the help here, in regards to custom metadata, is it possible to add different Scales and Precision to DataTypes (for example when declaring Decimal DataField)?

[2018-10-22 10:06] aloneguid commented on #350
Yes you can set custom precision and scales, as well as impala compatibility https://github.com/elastacloud/parquet-dotnet/blob/master/doc/schema.md#decimals

[2018-10-22 13:20] eugeneniemand opened #356 "parq -m|--min: value is not an integer"
**Version:** parq 3.1.4 global install

**Runtime Version:** .Net Core 2.1.402

**OS:** Windows

#### Expected behavior

`parq view "C:\path-to-myfile" should display first 10 rows`

#### Actual behavior

Output
[code]

[2018-10-22 13:25] eugeneniemand opened #357 "--max-rows 10 not honored"
**Version:** parq 3.1.4 global install

**Runtime Version:** .Net Core 2.1.402

**OS:** Windows

#### Expected behavior

`parq view "C:\path-to-myfile" -m 5 --max-rows 10` should display first 10 rows

#### Actual behavior

Displays all the rows and below the table it says
`Showing 0 to 11 of 11 Columns. Use Arrow Keys to Navigate. Showing 0 to 42 of 152 Rows Total. Press ENTER to quit;`

When pus

[2018-10-22 15:02] aloneguid commented on #356
Duplicate of #351

[2018-10-22 15:02] #356 closed

[2018-10-22 15:02] aloneguid commented on #357
Duplicate of #351

[2018-10-22 19:17] aloneguid commented on #357
Oops not a duplicate, @AndyCross can you have a look at this please?

[2018-10-22 22:02] aloneguid opened #358 "POCO serialiser support for repeatable fields"
Support repeatable fields serialisation on POCOs.

[2018-10-23 06:45] AndyCross commented on #357
This is a regression in the enumeration of folds not maintaining state correctly. There were multiple approaches to this including an event and some class level variables.

There is other work ongoing to simplify the drawing of the interactive view which will tidy this up further, but for now I've fixed the core bug.

[2018-10-24 10:52] #358 closed

[2018-10-24 10:52] #357 closed

[2018-10-24 10:52] #330 closed

[2018-10-24 10:52] #351 closed

[2018-10-24 12:19] jaley opened #360 "ByteArray type throws NotImplementException on read"
**Version:** Parquet.Net v3.1.4

**Runtime Version:** .Net Framework v4.7

**OS:** Windows

#### Expected behavior

ByteArray fields round trip normally

#### Actual behavior

ByteArray fields cause a NotImplementException to be thrown at read time, though they seem to write OK.

### Steps to reproduce the behavior

1. Create a schema with a ByteArray type field
2. Write a single row with a byte a

[2018-10-24 13:24] jaley opened #361 "List fields break Table equality"
**Version:** Parquet.Net v.3.1.4

**Runtime Version:** .Net Framework v4.7

**OS:** Windows

#### Expected behavior

`Table.Equals()` respects value semantics, and tables with equal content therefore return true.

#### Actual behavior

List fields seem always fail comparison. I'm guessing this is something to do with them being represented using arrays?

#### Code snippet reproducing the behavior

[2018-10-29 11:53] aloneguid opened #363 "Row-based reader fails on multiple list nest levels (i.e. struct in a list in another list)."
This is because row-based reader tries to transform to Rows that are more human readable, however only does it on the 1st level of nesting.

[2018-10-29 21:43] aloneguid opened #364 "Colorised parq convert output"
At the moment **convert** command allows pretty output by just formatting json with json.net. It would be awesome to colorise that output i.e. values in one colour, brackets with some sort of shade etc. Is it possible?

[2018-10-30 00:10] aloneguid commented on #360
Thank you. Released in 3.2.2

[2018-10-30 00:10] #360 closed

[2018-10-30 17:58] bryanjhogan opened #366 "Can parquet-dotnet be use to serialize a Web API response?"
Question -

Can parquet-dotnet be use in Web API to serialize responses?

I am wondering if it can be use like protobuf, messagepack or any other format.

[2018-10-30 18:23] aloneguid commented on #366
You can definitely do that, however it won't be very effective. Where parquet really shines is querying relatively large amounts of data. In fact, parquet stores it's own metadata in the file in Thrift format (similar to protobuf). Writing parquet is CPU intensive due to logical and physical compression.

For general purpose web API i'd go for protobuf or thrift (although later is poorly supported

[2018-11-01 15:27] hakenmt opened #369 "Serializing Class with DateTime Property Fails via ParquetConvert.Serialize()"
**Version:** Parquet.Net v3.2.2

**Runtime Version:** netcoreapp2.1

**OS:** Windows

#### Expected behavior

When I serialize an IEnumerable of objects that have a DateTime property, the serialization succeeds.

#### Actual behavior

Exception is thrown when serializing via:

ParquetConvert.Serialize<AthenaQueryMetric>(queries, MStreamOut);

**Message**: The added or subtracted value results in a

[2018-11-01 19:47] bryanjhogan commented on #369
I was about to open an issue about his. I get the same error when serializing a POCO that contains a `DateTime`.

[2018-11-05 10:06] aloneguid commented on #369
I can confirm this is a bug, should be fixed in the next update. In the meantime you can use `DateTimeOffset` field instead of `DateTime` as a workaround.

[2018-11-05 10:15] aloneguid commented on #366
@bryanjhogan yes makes perfect sense, I just checked that we don't actually rely on generics internally, it's only used in public method signature, so adding an overload should be trivial.

[2018-11-05 14:34] aloneguid commented on #369
Hi, we don't really have a public roadmap as such. Generally we try to release at least monthly. There are three options here:

- You're welcome to fix it and raise a PR.
- Wait until we fix it.
- Contact parquetsupport@elastacloud.com for commercial options.

[2018-11-05 23:59] bryanjhogan commented on #366
That would be a helpful addition to the `ParquetConvert` class.

[2018-11-07 11:28] #363 closed

[2018-11-07 11:28] #361 closed

[2018-11-07 13:33] corrego opened #371 "Data rows are not properly aligned when reading parquet file generated by Spark"
**Version:** Parquet.Net v3.2.3

**Runtime Version:** .Net Framework v4.7.1

**OS:** Windows

#### Expected behavior

Data read should be properly aligned as rows and should match Spark output.

[code]

[code]
#### Actual behavior

It seems that data is not aligned properly as the values read from spark and the values read using the library don't match

[code]

### Steps to reproduce the behavior

[2018-11-07 13:53] corrego commented on #371
grouping by word and getting min and max per group also shows how different the results are

[code]

[code]

[code]

[2018-11-11 22:57] azurecoder opened #372 "ParquetConverter to append to ParquetWriter in chunks"
**Version:** Parquet.Net v3.2.4

**Runtime Version:** .Net Framework v4.6

**OS:** Windows

#### Expected behavior

Should allow append of CLR types to ParquetWriter if you have a large collection of objects that you want to write to a parquet stream

#### Actual behavior

Calling multiple times will just overwrite the footer

### Steps to reproduce the behavior

1. Invoke ParquetConverter.Seriali

[2018-11-12 19:08] emlyn commented on #361
I think this will still fail with nested arrays? The `EqualTo` helper should check if `il` and `ir` are arrays and if so recurse into itself if so instead of calling `.Equals()`.

[2018-11-13 05:29] denfromufa commented on #335
Another official implementation here and related discussion:

https://github.com/apache/arrow/tree/master/csharp

DataFrame for .NET Core Discussion:
https://github.com/dotnet/corefx/issues/26845

[2018-11-14 10:40] emlyn opened #375 "Can't add row to Table with single struct field"
**Version:** Parquet.Net v3.2.3

**Runtime Version:** .Net Framework v4.7

**OS:** Windows 10

#### Expected behavior

Should be able to construct a table with a single struct field.
#### Actual behavior

If the schema contains a single struct field, adding a row to the table fails with a cast exception

#### Code snippet reproducing the behavior

[code]
[code]

[2018-11-14 10:43] emlyn opened #376 "Complex types break Table equality"
**Version:** Parquet.Net v3.2.3

**Runtime Version:** .Net Framework v4.7

**OS:** Windows 10

#### Expected behavior

`Table.Equals()` respects value semantics, and tables with equal content therefore return true.

#### Actual behavior

Struct, map and nested list fields seem to always fail comparison.

#### Code snippet reproducing the behavior

Note: first (struct) test includes an extra data f

[2018-11-20 16:15] corrego commented on #371
is there anyone that can look at this PR? @aloneguid perhaps?

[2018-11-21 08:34] azurecoder commented on #371
Hi @corrego thanks for contributing. I'll run some checks on this in the next day or two. Sorry for the delay.

[2018-11-21 11:34] aloneguid commented on #372
released in 3.2.4

[2018-11-24 10:34] aloneguid commented on #371
Pr approves

[2018-11-24 10:34] #371 closed

[2018-11-29 16:36] emlyn commented on #375
I suspect this may be particularity of C#/F# interop, and there may be not much that can be done about it from the C# side.
I found it can be worked around using the `params object[]` overload of `Table.Add`:
[code]

[2018-12-04 23:42] martinkoslof opened #379 "Is there a tangible way to stream from AWS S3?"
Hello there, I'd like to start with, this library looks really awesome. I have downloaded the nuget package and I've written some prototypes which are very promising, however I was curious if anyone has used this with .net core in AWS via dockers, lambdas or serverless architecture?

Without getting into too much detail, we have a heavy data logic process which we are migrating. We are using AWS G

[2018-12-08 04:10] martinkoslof commented on #379
I believe I have a workable solution. Our parquet files arent large, given they have already been broken into partitions. For example our main API will know to issue a request for = 60, and that points to an S3 hive partition. I have been successful so far at grabbing the parquet file from S3 and then wrappong the response stream in a seekable stream wrapper. I then provide that seekable stream to

[2018-12-11 00:47] tpeplow opened #380 "Snappy compression doesn't seem to compress anything"
**Version:** Parquet.Net v4.0.3.0

**Runtime Version:** .Net Framework v4.5.2

**OS:** Windows

#### Background

I looked at this sometime ago for a prototype and I'm picking this back up again as work to evolve our data formats.  We have an old application with a proprietary columnar format and we need to decide whether to maintain that or modernise.  I see the code base has moved on somewhat sin

[2018-12-11 00:50] aloneguid commented on #379
@martinkoslof happy it worked for you. If you have a sample feel free to share.

[2018-12-11 00:50] #379 closed

[2018-12-11 13:22] lukred opened #381 "List with one element doesn't work"
I'm using latest version 3.2.4.

Following the simplest repetition example from Parquet documentation:
https://blog.twitter.com/engineering/en_us/a/2013/dremel-made-simple-with-parquet.html
(see "Repetition levels" chapter).

I've created a code to reproduce their example:

 var idField = new DataField<int>("id");
            var idColumn = new DataColumn(idField, new int[] { 1, 2, 3 });

[2018-12-11 13:29] aloneguid commented on #381
Thanks for finding this. Yes seems like on repetition levels 0,1,2 there should be a new list created between 1->2 but it doesn't happen for some reason. Feel free to raise a PR for this.

[2018-12-12 02:25] theconnectionist opened #382 "version 3.2.4: Exception opening some files"
I recently started working with [CommonCrawl parquet streams](https://commoncrawl.s3.amazonaws.com/cc-index/table/cc-main/index.html). I started with 3.2.3 and was able to rip through all 300 files and open a few columns and process them without any problem. After upgrading to 3.2.4, reprocessing the same files, I run into this exception for a couple of columns (url_query and content_languages). I

[2018-12-13 17:35] mmolaro commented on #382
Can confirm there is an issue with 3.2.4. The `parq` command line tool also suffers from this. parq 3.2.4 fails at opening some larger files that parq 3.2.2 has no problem opening for viewing and converting to json representation.

[2018-12-16 19:38] theconnectionist commented on #382
@mmolaro thanks for the confirmation. I'm following up on this issue in the comment section of the [commit](https://github.com/elastacloud/parquet-dotnet/commit/42317e54a1764f10693d68692cd7d1d3d0298e33?_pjax=%23js-repo-pjax-container) which introduced this fix.

[2018-12-31 08:30] lukred opened #383 "Reading a parquet file throws NullReference exception"
I have a parquet file successfully created by Parquet.net. 3,2,4
It has about 5 records with multiple columns (parquet file in the attachment).

When I want to read the content via your library, there is a null reference exception.

[test.zip](https://github.com/elastacloud/parquet-dotnet/files/2718040/test.zip)

This is the code I'm using to read the content:

[code]

**Expected behavior:**
If I

[2019-01-02 13:38] dazfuller commented on #383
I've had a look at the test file and confirmed that is readable by Parquet.NET with the following code

[code]

This outputs the following from the file

[code]

The problem appears to be in the part of the library which builds the JSON string from the row, rather than how the data is read.

[2019-01-02 16:35] dazfuller commented on #383
The parquet file is certainly readable from the limited bit I've seen so far, if you use the parq tool it will read the file, show the schema and the content.  I'd need to look at the rest of the data in there though to make sure it's all okay.

[2019-01-07 08:39] mgolen commented on #382
Hi everyone,

I think I've got similar issue.
When I try to read attached file using either example code from https://github.com/elastacloud/parquet-dotnet#reading-files or by using parq, then IndexOutOfRangeException is thrown with below stacktrace:

   at Parquet.File.Values.RunLengthBitPackingHybridValuesReader.ReadRle(Int32 header, BinaryReader reader, Int32 bitWidth, Int32[] dest, Int32 offse

[2019-01-09 16:32] Rap70r opened #386 "Parquet Reader Displays Dates With One Day Less"
**Version:** Parquet.Net v2.1.3

**Runtime Version:** .Net Framework

**OS:** Windows

#### Expected behavior

Using Parquet.Net v2.1.3 to read parquet files with date fields should bring the correct dates as it was inserted at the creation time.

#### Actual behavior

We are using Parquet.Net v2.1.3 to read parquet files. The problem is that when displaying the data, date fields are being display

[2019-01-09 17:41] aloneguid commented on #386
Can you provide a sample file with the issue?

[2019-01-11 00:18] moggy001 commented on #337
I fixed this issue in the previous version of the library. I'm surprised that my fix was not propagated into this version of the library.

[2019-01-11 09:42] aloneguid commented on #337
released in v3.2.6

[2019-01-11 09:42] #337 closed

[2019-01-11 09:48] aloneguid opened #388 "Document view command"
Everything except for view command is documented at https://github.com/elastacloud/parquet-dotnet/blob/master/doc/parq.md

[2019-01-11 09:49] aloneguid commented on #386
@Rap70r can you try v3.2.6 (latest from nuget), this might fix your issue.

[2019-01-11 09:51] aloneguid commented on #353
Thanks @kaylangan. One showstopper for us is having a public pre-release nuget feed AppVeyor provides for free. Azure DevOps Artifacts seems to require some sort of licensing, unless I'm wrong?

[2019-01-11 13:06] Rap70r commented on #386
Hi,
Using the latest version gives the same results.
We will provide a sample asap.

Thanks

[2019-01-11 15:43] Rap70r commented on #386
Hi,
Here's a sample parquet file that displays the date with one day less when using Parquet.Net and the correct date when using Spark.

[hi.zip](https://github.com/elastacloud/parquet-dotnet/files/2750198/hi.zip)

[2019-01-11 19:14] murick opened #390 "Exception thrown when trying to initialize ParquetReader from MemoryStream"
**Version:** Parquet.Net v. 3.2.5

**Runtime Version:** .Net Framework v 4.6.1

**OS:** Windows 10 x64

#### Expected behavior
I am trying writing a parquet parsing module for the existing environment. I am given a string (contents of the parquet file) and I have to represent it in a JSON format. I am converting this string into bytes array, then create a memory stream from it and initialize the P

[2019-01-11 19:18] aloneguid commented on #390
Parquet is not a text format so you can't read it in a string. Use File.OpenRead or other alternative which allows direct accces to file content.

[2019-01-11 19:18] #390 closed

[2019-01-11 19:22] murick commented on #390
Hello Ivan,

Thank you for the prompt response. Correct me please if I'm wrong, but I did not provide a string to the ParquetReader constructor. I used MemoryStream instead. The main requirement I got is to read from string (the file parsing and extraction is done in a separate module that is outside of my scope).

[2019-01-11 19:37] aloneguid commented on #390
Other than its extremely ineffective its just not going to work. You can't transform a random byte array in a string, and even if you can in some cases, it won't come out as the same byte array back because of special bytes strings just don't handle.

Your string either has to contain encoded byte array (base 64 for instance) so you can decode it back or don't use strings at all, which would be a

[2019-01-14 14:00] Rap70r commented on #386
Hello @aloneguid

Did you have the chance to take a look at the file?
Can it be fixed using any kind of configuration?

File: [hi.zip](https://github.com/elastacloud/parquet-dotnet/files/2755402/hi.zip)

Regards

[2019-01-14 14:30] aloneguid commented on #386
@Rap70r I think I found the issue, give me an hour.

[2019-01-14 14:44] aloneguid commented on #386
@Rap70r I've released the fix in v3.3.1, please try.

[2019-01-14 14:45] #383 closed

[2019-01-14 14:46] #355 closed

[2019-01-14 14:46] aloneguid commented on #309
supported in 3.3.0

[2019-01-14 14:46] #331 closed

[2019-01-14 14:47] #352 closed

[2019-01-14 14:47] #353 closed

[2019-01-14 14:48] #354 closed

[2019-01-14 15:42] Rap70r commented on #386
Hello @aloneguid

Thank you so much for the quick response.
By the way, there's no chance you can apply this fix to 2.1.3, right?

Regards
Saif

[2019-01-14 15:54] aloneguid commented on #386
@Rap70r no problem ;)
It will be a lot of effort to fix 2.1.3 as we don't support it anymore for almost a year. Is there any reason you can't use v3?

[2019-01-14 16:02] Rap70r commented on #386
Hello @aloneguid

No worries. We will re-write our solution.
Thank you for the fix.

Regards

[2019-01-14 21:35] Rap70r commented on #386
Hello @aloneguid

Looks like the issue has been resolved.

Thank you

[2019-01-14 22:03] #386 closed